<?xml version="1.0" encoding="utf-8"?>
<package id="0474c210-1037-47b4-b02d-660a40510797" type="Service Proxies Package" typeId="46ef9b5e-e38c-48f2-8516-ea48c310ce23">
  <name>Proxies</name>
  <icon type="UrlImagePath" source="./img/icons/common/Intent-Package-Dark.png" />
  <isExternal>false</isExternal>
  <sort-children>by-type-then-by-name</sort-children>
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="3ca06157-097f-448b-8587-1be6fe40d1e3" include="Services" isExternal="true">
      <path>../../Services/Services/Services.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>