<?xml version="1.0" encoding="utf-8"?>
<package id="134eae39-58a7-406f-b323-f69ccf364a6d" type="Domain Package" typeId="1a824508-4623-45d9-accc-f572091ade5a">
  <applicationId>c4bd27ec-7d97-477b-87a5-1225ae33f695</applicationId>
  <designerId>6ab29b31-27af-4f56-a67c-986d82097d63</designerId>
  <name>CloudBlobStorageClients.Domain</name>
  <externalReference>b78c441a-6dab-482c-bc53-0870f8f80477</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="AF8F3810-745C-42A2-93C8-798860DC45B1" include="Intent.Metadata.RDBMS" isExternal="true">
      <module>Intent.Metadata.RDBMS</module>
    </reference>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <module>Intent.Modelers.Domain</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>