<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>2799aa83-e256-46fe-9589-b96f7d6b09f7</targetDesignerId>
  <createPackages>
    <package id="9b948266-a9c7-4a77-8aaa-db0b8be2be1d" typeId="46ef9b5e-e38c-48f2-8516-ea48c310ce23" type="Service Proxies Package">
      <name>ServiceProxies</name>
      <stereotypes />
      <childElements />
      <associations />
      <references />
    </package>
  </createPackages>
</settings>