<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.AspNetCore" version="5.1.2" />
  <module moduleId="Intent.Common" version="3.4.4" />
  <module moduleId="Intent.Common.CSharp" version="3.3.44-pre.1" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Eventing.Contracts" version="4.0.9" />
  <module moduleId="Intent.Eventing.MassTransit" version="5.2.5-pre.0" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="4.0.7" />
  <module moduleId="Intent.Modelers.Eventing" version="4.0.4" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.3.1" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.4.1" />
</modules>