<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.3.18-pre.0" />
  <module moduleId="Intent.Common.CSharp" version="3.3.27-pre.0" />
  <module moduleId="Intent.Common.Types" version="3.3.7" />
  <module moduleId="Intent.Entities" version="4.0.3-pre.0" />
  <module moduleId="Intent.EntityFrameworkCore" version="4.0.3" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="4.0.0" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.3.12" />
  <module moduleId="Intent.Modelers.Domain" version="3.3.10" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.3.9" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.20" />
</modules>