<?xml version="1.0" encoding="utf-8"?>
<package id="ec475b15-706f-4ccb-96ee-53f045153c81" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <applicationId>a8134664-0a1f-4a68-8ea1-fb7b7e5a466f</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>Wolverine.AzureFunctions.Services</name>
  <externalReference>ea9f70ad-29d1-4aa1-aa04-d408499c9000</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="b258d75f-f895-43b9-bb91-6500664716f9" include="Intent.Application.Contracts" isExternal="true">
      <module>Intent.Application.Contracts</module>
    </reference>
    <reference packageId="0e923f47-102b-4bd6-80c5-eb38e6d5cf82" include="Intent.Application.DomainInteractions" isExternal="true">
      <module>Intent.Application.DomainInteractions</module>
    </reference>
    <reference packageId="55856e5d-8217-4c17-8fbb-082ac75baaf5" include="Intent.Application.FluentValidation" isExternal="true">
      <module>Intent.Application.FluentValidation</module>
    </reference>
    <reference packageId="2d61b3f1-47a2-4d3f-b8cf-308a4e3ed4d7" include="Intent.Application.ServiceImplementations" isExternal="true">
      <module>Intent.Application.ServiceImplementations</module>
    </reference>
    <reference packageId="022dbddc-276c-406b-81e6-5034ad64db72" include="Intent.AzureFunctions" isExternal="true">
      <module>Intent.AzureFunctions</module>
    </reference>
    <reference packageId="c3808b69-f250-4ea9-b9c6-5636d3d52860" include="Intent.AzureFunctions.OpenApi" isExternal="true">
      <module>Intent.AzureFunctions.OpenApi</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="a6fa1088-0064-43e3-a7fc-36c97b2b9285" include="Intent.Metadata.Security" isExternal="true">
      <module>Intent.Metadata.Security</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="45fb22e9-f493-4de5-9fe0-845f783aa9d4" include="Intent.Modelers.Services.CQRS" isExternal="true">
      <module>Intent.Modelers.Services.CQRS</module>
    </reference>
    <reference packageId="bff48d8d-9246-4ad7-9dda-9703b7139b86" include="Intent.Modelers.Services.DomainInteractions" isExternal="true">
      <module>Intent.Modelers.Services.DomainInteractions</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="31c0984f-263d-49da-b0e1-cc9d6be94ebe" include="Wolverine.AzureFunctions.Domain" isExternal="true">
      <path>../../Domain/Wolverine.AzureFunctions.Domain/Wolverine.AzureFunctions.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>