<?xml version="1.0" encoding="utf-8"?>
<package id="bb1dac4c-28cf-42bb-8be2-e2fb6afaa074" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <applicationId>6a0d6a5d-e77c-4d6c-afbe-9796731b00f2</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>Aws.Lambda.Functions.Sqs.Services</name>
  <externalReference>4fb86583-52f8-4b89-bd7b-9807e8fae8fa</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="6ece27f0-7dfd-4071-aa42-973d9da10039" include="Aws.Lambda.Functions.Sqs.Eventing.Messages" isExternal="true">
      <path>../Aws.Lambda.Functions.Sqs.Eventing.Messages/Aws.Lambda.Functions.Sqs.Eventing.Messages.pkg.config</path>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>