@page "/container-tests/no-generate-bug"

<div>
    <MudButton Variant="Variant.Filled"
               Class="my-2 mr-2"
               Color="Color.Default">
        <MudText>Button</MudText>
    </MudButton>
</div>
