<?xml version="1.0" encoding="utf-8"?>
<settings>
    <targetDesignerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</targetDesignerId>
    <createPackages>
        <package id="b6713045-83a4-47d5-9174-b5c4e4f5458b" typeId="fbca4a65-b376-482c-a23d-32da9908cac9" type="Root Location Package">
            <name>root</name>
            <stereotypes />
            <childElements>
                <element id="701d1c92-c585-4764-a8d3-6a3b1596a074" typeId="8663c9f9-2852-45e7-aaa1-0883a2e6f1da" type="Role">
                    <name>IaC.Terraform</name>
                    <genericTypes />
                    <metadata />
                    <stereotypes />
                    <childElements />
                    <isMapped>false</isMapped>
                    <isAbstract>false</isAbstract>
                    <display>IaC.Terraform</display>
                </element>
            </childElements>
            <associations />
            <references />
        </package>
    </createPackages>
</settings>