{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "This template is partially managed by Amazon.Lambda.Annotations (v1.7.0.0).",
  "Resources": {
    "LambdaDynAffiliatesFunctionsCreateDynAffiliateAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ],
        "SyncedEventProperties": {
          "RootPost": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynAffiliatesFunctions_CreateDynAffiliateAsync_Generated::CreateDynAffiliateAsync",
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-affiliates",
              "Method": "POST"
            }
          }
        }
      }
    },
    "LambdaDynAffiliatesFunctionsUpdateDynAffiliateAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPut"
        ],
        "SyncedEventProperties": {
          "RootPut": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynAffiliatesFunctions_UpdateDynAffiliateAsync_Generated::UpdateDynAffiliateAsync",
        "Events": {
          "RootPut": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-affiliates/{id}",
              "Method": "PUT"
            }
          }
        }
      }
    },
    "LambdaDynAffiliatesFunctionsFindAffiliateByIdAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynAffiliatesFunctions_FindAffiliateByIdAsync_Generated::FindAffiliateByIdAsync",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-affiliates/{id}",
              "Method": "GET"
            }
          }
        }
      }
    },
    "LambdaDynAffiliatesFunctionsFindDynAffiliatesAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynAffiliatesFunctions_FindDynAffiliatesAsync_Generated::FindDynAffiliatesAsync",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-affiliates",
              "Method": "GET"
            }
          }
        }
      }
    },
    "LambdaDynAffiliatesFunctionsDeleteDynAffiliateAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootDelete"
        ],
        "SyncedEventProperties": {
          "RootDelete": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynAffiliatesFunctions_DeleteDynAffiliateAsync_Generated::DeleteDynAffiliateAsync",
        "Events": {
          "RootDelete": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-affiliates/{id}",
              "Method": "DELETE"
            }
          }
        }
      }
    },
    "LambdaDynClientsFunctionsCreateDynClientAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ],
        "SyncedEventProperties": {
          "RootPost": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynClientsFunctions_CreateDynClientAsync_Generated::CreateDynClientAsync",
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-clients",
              "Method": "POST"
            }
          }
        }
      }
    },
    "LambdaDynClientsFunctionsDeleteDynClientAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootDelete"
        ],
        "SyncedEventProperties": {
          "RootDelete": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynClientsFunctions_DeleteDynClientAsync_Generated::DeleteDynClientAsync",
        "Events": {
          "RootDelete": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-clients/{id}",
              "Method": "DELETE"
            }
          }
        }
      }
    },
    "LambdaDynClientsFunctionsUpdateDynClientAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPut"
        ],
        "SyncedEventProperties": {
          "RootPut": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynClientsFunctions_UpdateDynClientAsync_Generated::UpdateDynClientAsync",
        "Events": {
          "RootPut": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-clients/{id}",
              "Method": "PUT"
            }
          }
        }
      }
    },
    "LambdaDynClientsFunctionsGetDynClientByIdAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynClientsFunctions_GetDynClientByIdAsync_Generated::GetDynClientByIdAsync",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-clients/{id}",
              "Method": "GET"
            }
          }
        }
      }
    },
    "LambdaDynClientsFunctionsGetDynClientsAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.DynClientsFunctions_GetDynClientsAsync_Generated::GetDynClientsAsync",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/dyn-clients",
              "Method": "GET"
            }
          }
        }
      }
    },
    "LambdaEfAffiliatesFunctionsCreateEfAffiliateAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ],
        "SyncedEventProperties": {
          "RootPost": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfAffiliatesFunctions_CreateEfAffiliateAsync_Generated::CreateEfAffiliateAsync",
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-affiliates",
              "Method": "POST"
            }
          }
        }
      }
    },
    "LambdaEfAffiliatesFunctionsUpdateEfAffiliateAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPut"
        ],
        "SyncedEventProperties": {
          "RootPut": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfAffiliatesFunctions_UpdateEfAffiliateAsync_Generated::UpdateEfAffiliateAsync",
        "Events": {
          "RootPut": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-affiliates/{id}",
              "Method": "PUT"
            }
          }
        }
      }
    },
    "LambdaEfAffiliatesFunctionsFindEfAffiliateByIdAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfAffiliatesFunctions_FindEfAffiliateByIdAsync_Generated::FindEfAffiliateByIdAsync",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-affiliates/{id}",
              "Method": "GET"
            }
          }
        }
      }
    },
    "LambdaEfAffiliatesFunctionsFindEfAffiliatesAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfAffiliatesFunctions_FindEfAffiliatesAsync_Generated::FindEfAffiliatesAsync",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-affiliates",
              "Method": "GET"
            }
          }
        }
      }
    },
    "LambdaEfAffiliatesFunctionsDeleteEfAffiliateAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootDelete"
        ],
        "SyncedEventProperties": {
          "RootDelete": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfAffiliatesFunctions_DeleteEfAffiliateAsync_Generated::DeleteEfAffiliateAsync",
        "Events": {
          "RootDelete": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-affiliates/{id}",
              "Method": "DELETE"
            }
          }
        }
      }
    },
    "LambdaEfClientsFunctionsCreateEfClientAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPost"
        ],
        "SyncedEventProperties": {
          "RootPost": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfClientsFunctions_CreateEfClientAsync_Generated::CreateEfClientAsync",
        "Events": {
          "RootPost": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-clients",
              "Method": "POST"
            }
          }
        }
      }
    },
    "LambdaEfClientsFunctionsDeleteEfClientAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootDelete"
        ],
        "SyncedEventProperties": {
          "RootDelete": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfClientsFunctions_DeleteEfClientAsync_Generated::DeleteEfClientAsync",
        "Events": {
          "RootDelete": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-clients/{id}",
              "Method": "DELETE"
            }
          }
        }
      }
    },
    "LambdaEfClientsFunctionsUpdateEfClientAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootPut"
        ],
        "SyncedEventProperties": {
          "RootPut": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfClientsFunctions_UpdateEfClientAsync_Generated::UpdateEfClientAsync",
        "Events": {
          "RootPut": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-clients/{id}",
              "Method": "PUT"
            }
          }
        }
      }
    },
    "LambdaEfClientsFunctionsGetEfClientByIdAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfClientsFunctions_GetEfClientByIdAsync_Generated::GetEfClientByIdAsync",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-clients/{id}",
              "Method": "GET"
            }
          }
        }
      }
    },
    "LambdaEfClientsFunctionsGetEfClientsAsyncGenerated": {
      "Type": "AWS::Serverless::Function",
      "Metadata": {
        "Tool": "Amazon.Lambda.Annotations",
        "SyncedEvents": [
          "RootGet"
        ],
        "SyncedEventProperties": {
          "RootGet": [
            "Path",
            "Method"
          ]
        }
      },
      "Properties": {
        "Runtime": "dotnet8",
        "CodeUri": ".",
        "MemorySize": 512,
        "Timeout": 30,
        "Policies": [
          "AWSLambdaBasicExecutionRole"
        ],
        "PackageType": "Zip",
        "Handler": "AwsLambdaFunction.Api::Lambda.EfClientsFunctions_GetEfClientsAsync_Generated::GetEfClientsAsync",
        "Events": {
          "RootGet": {
            "Type": "HttpApi",
            "Properties": {
              "Path": "/api/ef-clients",
              "Method": "GET"
            }
          }
        }
      }
    }
  }
}