<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="a2bbfd80-a615-4980-b138-7c8a787b9d9b" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Root Folder">
      <name>root</name>
      <stereotypes />
      <childElements>
        <element id="5b49c197-f5e6-4237-8dbd-26af82cf7892" typeId="769a45a2-119f-434f-8c27-bd4a399b915c" type="Visual Studio Solution">
          <name>${application.name}</name>
          <genericTypes />
          <metadata />
          <stereotypes>
            <stereotype stereotypeDefinitionId="90085088-b29b-4386-b87e-f7f62c76c5de" name="Visual Studio Solution Options">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
              <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
              <properties>
                <property name="71b53d7c-7977-467b-853c-15016c196afa" display="Solution Name" isActive="true" />
                <property name="22b54494-6f14-4f12-9e6b-a39a96dd1ae1" display="Solution Relative Location" isActive="true" />
                <property name="49e78350-c77b-4f83-88d8-5841e6cb3ab9" display="Manage Package Versions Centrally" value="false" isActive="true" />
                <property name="ad4bb70e-9dbd-41ce-95a0-1d319a40b8a9" display="Output Location" value="Check Parent Folders" isActive="false" />
                <property name="ca30802f-7cf3-459e-9ea1-aa20d7af7638" display="Only check current Git repository" value="true" isActive="false" />
                <property name="eaf8fe0b-2aec-4610-9bc8-608f6967ce55" display="Relative Path" isActive="false" />
              </properties>
            </stereotype>
          </stereotypes>
          <childElements>
            <element id="0e775482-8f02-489e-8a6f-d9b723020405" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
              <name>0 - Solution Items</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements>
                <element id="53a48cec-ce2d-43c9-80cf-3b00951d55f8" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Output Anchor">
                  <name>SolutionItems</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="a23c7901-31a5-4cbf-b8bf-1be128977e6d" name="Output Anchor Settings">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.Modelers.CodebaseStructure</definitionPackageName>
                      <definitionPackageId>525868ff-adc0-4ab6-a90e-352288da941f</definitionPackageId>
                      <properties>
                        <property name="8d79a350-96f1-4d50-bb0a-f65a5c53ec62" display="Create Sub-Folders" value="true" isActive="true" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>SolutionItems</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>0 - Solution Items</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>${application.name}</display>
        </element>
      </childElements>
      <associations />
      <references />
      <metadata />
    </package>
  </createPackages>
</settings>