<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="a2bbfd80-a615-4980-b138-7c8a787b9d9b" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${application.name}</name>
      <stereotypes />
      <childElements>
        <element id="0e775482-8f02-489e-8a6f-d9b723020405" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>0 - Solution Items</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="53a48cec-ce2d-43c9-80cf-3b00951d55f8" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
              <name>SolutionItems</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements />
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>SolutionItems</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>0 - Solution Items</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>