<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Blazor" version="1.0.0-beta.6" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Blazor.Components.MudBlazor" version="1.0.0-beta.8" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Code.Weaving.Razor" version="1.0.2" includeAssets="designers" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common" version="3.7.4" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.8.7" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.1.0" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.UI" version="1.0.0-beta.2" includeAssets="designers" supportedClientVersions="[4.3.0-beta.4, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.UI.Core" version="1.0.0-beta.5" includeAssets="designers" supportedClientVersions="[4.3.0-beta.4,5.0.0)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.9.1" includeAssets="designers" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.8.6" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
</modules>