<?xml version="1.0" encoding="utf-8"?>
<settings>
    <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
    <createPackages>
        <package id="ea9f70ad-29d1-4aa1-aa04-d408499c9000" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
            <name>${application.name}.Services</name>
            <stereotypes />
            <childElements />
            <associations />
            <references>
                <reference>
                    <packageId>57fc7b95-de9a-47d1-a4f9-408efa83661e</packageId>
                    <include>${application.name}.Domain</include>
                    <isExternal>true</isExternal>
                    <relativePath>../../Domain/${application.name}.Domain/${application.name}.Domain.pkg.config</relativePath>
                </reference>
            </references>
        </package>
    </createPackages>
</settings>