<?xml version="1.0" encoding="utf-8"?>
<package id="bab44378-10ca-4a62-a517-a01edbddaead" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <applicationId>b2a57b08-b2ce-420a-b5c8-f4c4abbd720a</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>Application.Identity.AccountController.UserIdentity.Services</name>
  <externalReference>51735c16-6ff9-4f56-bcfc-834d8fbd7b63</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="e8ac535e-34ee-40c6-8f53-d65ac9c48b3a" include="Application.Identity.AccountController.UserIdentity.Domain" isExternal="true">
      <path>../../Domain/Application.Identity.AccountController.UserIdentity.Domain/Application.Identity.AccountController.UserIdentity.Domain.pkg.config</path>
    </reference>
    <reference packageId="55856e5d-8217-4c17-8fbb-082ac75baaf5" include="Intent.Application.FluentValidation" isExternal="true">
      <module>Intent.Application.FluentValidation</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>