<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.3.12" />
  <module moduleId="Intent.Common.CSharp" version="3.3.19" />
  <module moduleId="Intent.Common.Types" version="3.3.6" />
  <module moduleId="Intent.DependencyInjection.EntityFrameworkCore" version="4.0.0-pre.0" />
  <module moduleId="Intent.Entities" version="4.0.0-pre.0" />
  <module moduleId="Intent.EntityFrameworkCore" version="4.0.0-pre.0" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="3.3.8" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.3.9" />
  <module moduleId="Intent.Modelers.Domain" version="3.3.7" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.3.8" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.14" />
</modules>