<?xml version="1.0" encoding="utf-8"?>
<package id="13d3b943-c2cf-46fd-812a-39f763e80c5e" type="Service Proxies Package" typeId="46ef9b5e-e38c-48f2-8516-ea48c310ce23">
  <applicationId>2442638e-5601-4d9a-a9bc-493024ec6e4e</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>WindowsServiceHost.Tests.ServiceProxies</name>
  <externalReference>0855038d-1f41-4267-aba1-da8cba3e1b85</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="e92495db-1b26-4389-bf06-cc1b375520b1" include="Intent.Application.MediatR" isExternal="true">
      <module>Intent.Application.MediatR</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="45fb22e9-f493-4de5-9fe0-845f783aa9d4" include="Intent.Modelers.Services.CQRS" isExternal="true">
      <module>Intent.Modelers.Services.CQRS</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="53353621-7752-4a01-90f3-cd2e83ec19a4" include="Intent.Modelers.Services.ProxyInteractions" isExternal="true">
      <module>Intent.Modelers.Services.ProxyInteractions</module>
    </reference>
    <reference packageId="046b57a5-7822-4ce0-aad8-dd40a93ecee5" include="Intent.QuartzScheduler" isExternal="true">
      <module>Intent.QuartzScheduler</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>