<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="fd3efd08-15fd-4d56-bc88-396eea8844ac" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${application.name}</name>
      <stereotypes />
      <childElements />
      <associations />
      <references />
    </package>
  </createPackages>
</settings>