@model AspNetCoreMvc.Application.ClientsService.ClientDto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Name</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
        </table>

        @Html.ActionLink("Back", "FindClients", new { groupId = "groupId" })
    </div>
</body>
</html>