<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>f492faed-0665-4513-9853-5a230721786f</targetDesignerId>
  <createPackages>
    <package id="f8111e01-6b86-4223-aa4e-a2d52115713f" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a" type="User Interface Package">
      <name>${application.name}.UI</name>
      <stereotypes />
      <childElements>
        <element id="52192f26-f411-4609-b8d5-fdc2d5456c03" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
          <name>Layout</name>
          <genericTypes />
          <metadata />
          <stereotypes>
            <stereotype stereotypeDefinitionId="66fd9e66-42c7-4ef9-a778-b68e009272b9" name="Folder Options">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.Common.CSharp</definitionPackageName>
              <definitionPackageId>730e1275-0c32-44f7-991a-9619d07ca68d</definitionPackageId>
              <properties>
                <property name="96df2fa6-7361-4e43-9acf-dbcea23b650a" display="Namespace Provider" value="true" isActive="true" />
              </properties>
            </stereotype>
          </stereotypes>
          <childElements>
            <element id="9623ade4-c501-44aa-8afc-2d06241f6590" typeId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" type="Layout">
              <name>MainLayout</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements>
                <element id="af505ea0-35f8-4277-89c4-b9741e232585" typeId="11636699-8bad-4693-8c15-8141bd66d04f" type="Layout Body">
                  <name>Body</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Body</display>
                </element>
                <element id="54c886af-6ab0-4ffa-a91c-bcd20322fe81" typeId="a6c3a89e-5932-4ab6-a406-75444f05beee" type="Layout Header">
                  <name>Header</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements>
                    <element id="8e815619-0c27-4fc7-b183-9ccb2fec31dc" typeId="4474d808-f6fd-405f-a9c7-6998cd000ede" type="Button">
                      <name>Home</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes>
                        <stereotype stereotypeDefinitionId="a7de29e5-4bee-4e5d-93f0-740569ac6130" name="Interaction">
                          <addedByDefault>true</addedByDefault>
                          <definitionPackageName>Intent.Modelers.UI.Core</definitionPackageName>
                          <definitionPackageId>a2a95421-3e55-43c7-96ad-355610b43c4d</definitionPackageId>
                          <properties>
                            <property name="7cee794d-e1a7-4590-b65a-6e56914a2a97" display="Type" value="Default" isActive="true" />
                            <property name="2265736b-4381-42dc-9dbf-b757188837bc" display="Form" isActive="false" />
                            <property name="d05f7b5b-fe45-4cbb-b938-380a4b68c0df" display="On Click" isActive="true" />
                          </properties>
                        </stereotype>
                        <stereotype stereotypeDefinitionId="b218f7cb-d150-401d-a17a-9e22fadf863f" name="Appearance">
                          <addedByDefault>true</addedByDefault>
                          <definitionPackageName>Intent.Blazor.Components.MudBlazor</definitionPackageName>
                          <definitionPackageId>47e5f8d0-3892-4408-b6f9-88bf8591af2d</definitionPackageId>
                          <properties>
                            <property name="eecbc26c-443b-4d97-a706-a4e21fc13552" display="Icon Only" value="false" isActive="false" />
                            <property name="de8a25d2-a144-4806-b5ad-e6c195abfa43" display="Variant" isActive="true" />
                            <property name="d527d5a7-fd00-4486-a204-5c6fc93099a5" display="Color" value="7d3b2bd9-931f-444b-a478-ad39a98d5d4b" isActive="true" />
                            <property name="9243cf9b-c6de-47d4-a914-382ab7ddf920" display="Class" isActive="true" />
                          </properties>
                        </stereotype>
                      </stereotypes>
                      <childElements>
                        <element id="5658cabc-39e8-4aee-b7a5-faa04472f40b" typeId="922150d2-42e6-4805-a002-f9580cdf7f6f" type="Text">
                          <name>Text</name>
                          <genericTypes />
                          <metadata />
                          <stereotypes />
                          <childElements />
                          <isMapped>false</isMapped>
                          <isAbstract>false</isAbstract>
                          <display>Text = #####Application</display>
                          <value>#####Application</value>
                        </element>
                      </childElements>
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Home</display>
                    </element>
                    <element id="34a4d862-6ec2-4402-809b-5d45ead395d0" typeId="cfc58280-fe7e-466d-9c00-ddb41b5462e7" type="Spacer">
                      <name>Spacer</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Spacer</display>
                    </element>
                    <element id="443796f0-1e9e-4a74-bb0f-33fa326b290c" typeId="d7282bf2-1626-4b8b-9446-1d530527db06" type="Navigation Menu">
                      <name>Menu</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes>
                        <stereotype stereotypeDefinitionId="8e1b7033-fd27-495a-a2a7-36b5168f04f5" name="Icon">
                          <addedByDefault>false</addedByDefault>
                          <definitionPackageName>Intent.Blazor.Components.MudBlazor</definitionPackageName>
                          <definitionPackageId>47e5f8d0-3892-4408-b6f9-88bf8591af2d</definitionPackageId>
                          <properties>
                            <property name="7bda044e-8be7-4ac4-98cd-41e97132942f" display="Icon Value" value="e973627f-6106-4763-9459-998016c8c2b3" isActive="true" />
                            <property name="6a70b142-c60d-4015-97aa-be0bcab7d128" display="Icon Color" isActive="true" />
                            <property name="13f1151e-7611-4bde-8374-1598b5d3335c" display="Variant" value="41f2ef78-a358-43bd-9b84-926dc185c8d1" isActive="true" />
                          </properties>
                        </stereotype>
                      </stereotypes>
                      <childElements>
                        <element id="f9effbde-4e65-4643-bb78-87c410005cd5" typeId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" type="Menu Item">
                          <name>Profile</name>
                          <genericTypes />
                          <metadata />
                          <stereotypes>
                            <stereotype stereotypeDefinitionId="8e1b7033-fd27-495a-a2a7-36b5168f04f5" name="Icon">
                              <addedByDefault>false</addedByDefault>
                              <definitionPackageName>Intent.Blazor.Components.MudBlazor</definitionPackageName>
                              <definitionPackageId>47e5f8d0-3892-4408-b6f9-88bf8591af2d</definitionPackageId>
                              <properties>
                                <property name="7bda044e-8be7-4ac4-98cd-41e97132942f" display="Icon Value" value="9257f134-f2a4-446e-aa94-a37565b130c6" isActive="true" />
                                <property name="6a70b142-c60d-4015-97aa-be0bcab7d128" display="Icon Color" isActive="true" />
                                <property name="13f1151e-7611-4bde-8374-1598b5d3335c" display="Variant" value="41f2ef78-a358-43bd-9b84-926dc185c8d1" isActive="true" />
                              </properties>
                            </stereotype>
                          </stereotypes>
                          <childElements />
                          <isMapped>false</isMapped>
                          <isAbstract>false</isAbstract>
                          <display>Profile</display>
                        </element>
                        <element id="6fb64c2f-bc82-4822-ac25-cf669e2f211f" typeId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" type="Menu Item">
                          <name>My Account</name>
                          <genericTypes />
                          <metadata />
                          <stereotypes>
                            <stereotype stereotypeDefinitionId="8e1b7033-fd27-495a-a2a7-36b5168f04f5" name="Icon">
                              <addedByDefault>false</addedByDefault>
                              <definitionPackageName>Intent.Blazor.Components.MudBlazor</definitionPackageName>
                              <definitionPackageId>47e5f8d0-3892-4408-b6f9-88bf8591af2d</definitionPackageId>
                              <properties>
                                <property name="7bda044e-8be7-4ac4-98cd-41e97132942f" display="Icon Value" value="4f0b64a4-01a2-4ea8-9ee5-5785449f159d" isActive="true" />
                                <property name="6a70b142-c60d-4015-97aa-be0bcab7d128" display="Icon Color" isActive="true" />
                                <property name="13f1151e-7611-4bde-8374-1598b5d3335c" display="Variant" value="41f2ef78-a358-43bd-9b84-926dc185c8d1" isActive="true" />
                              </properties>
                            </stereotype>
                          </stereotypes>
                          <childElements />
                          <isMapped>false</isMapped>
                          <isAbstract>false</isAbstract>
                          <display>My Account</display>
                        </element>
                        <element id="7d79c0bd-547c-4e6d-9c28-76e9fa96cddd" typeId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" type="Menu Item">
                          <name>Logout</name>
                          <genericTypes />
                          <metadata />
                          <stereotypes>
                            <stereotype stereotypeDefinitionId="8e1b7033-fd27-495a-a2a7-36b5168f04f5" name="Icon">
                              <addedByDefault>false</addedByDefault>
                              <definitionPackageName>Intent.Blazor.Components.MudBlazor</definitionPackageName>
                              <definitionPackageId>47e5f8d0-3892-4408-b6f9-88bf8591af2d</definitionPackageId>
                              <properties>
                                <property name="7bda044e-8be7-4ac4-98cd-41e97132942f" display="Icon Value" value="caf1cca8-fa22-4dbe-97e0-8ed3e6c51c38" isActive="true" />
                                <property name="6a70b142-c60d-4015-97aa-be0bcab7d128" display="Icon Color" isActive="true" />
                                <property name="13f1151e-7611-4bde-8374-1598b5d3335c" display="Variant" value="41f2ef78-a358-43bd-9b84-926dc185c8d1" isActive="true" />
                              </properties>
                            </stereotype>
                          </stereotypes>
                          <childElements />
                          <isMapped>false</isMapped>
                          <isAbstract>false</isAbstract>
                          <display>Logout</display>
                        </element>
                      </childElements>
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Menu</display>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Header</display>
                </element>
                <element id="14ad0b60-ef3a-43f1-9b49-b443b9a4be3a" typeId="c505f35f-7148-46a3-a812-d9f53a174490" type="Layout Sider">
                  <name>Sider</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements>
                    <element id="329124ff-3e91-4c59-a3f9-7a42ee1a50e9" typeId="d7282bf2-1626-4b8b-9446-1d530527db06" type="Navigation Menu">
                      <name>Navigation Menu</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements>
                        <element id="0c6361e9-50dd-4a95-9ed8-85ed90a12f3c" typeId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" type="Menu Item">
                          <name>Add Menu Options...</name>
                          <genericTypes />
                          <metadata />
                          <stereotypes>
                            <stereotype stereotypeDefinitionId="8e1b7033-fd27-495a-a2a7-36b5168f04f5" name="Icon">
                              <addedByDefault>false</addedByDefault>
                              <definitionPackageName>Intent.Blazor.Components.MudBlazor</definitionPackageName>
                              <definitionPackageId>47e5f8d0-3892-4408-b6f9-88bf8591af2d</definitionPackageId>
                              <properties>
                                <property name="7bda044e-8be7-4ac4-98cd-41e97132942f" display="Icon Value" value="bcb1ed81-8cfa-47c4-826e-46b2fda60b54" isActive="true" />
                                <property name="6a70b142-c60d-4015-97aa-be0bcab7d128" display="Icon Color" isActive="true" />
                                <property name="13f1151e-7611-4bde-8374-1598b5d3335c" display="Variant" value="41f2ef78-a358-43bd-9b84-926dc185c8d1" isActive="true" />
                              </properties>
                            </stereotype>
                          </stereotypes>
                          <childElements />
                          <isMapped>false</isMapped>
                          <isAbstract>false</isAbstract>
                          <display>Add Menu Options...</display>
                        </element>
                      </childElements>
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Navigation Menu</display>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Sider</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <mappings>
                <mapping type="View Binding" typeId="c33f86ad-423a-4a6f-a80c-a3206eafe5cd">
                  <source applicationId="f4941559-6203-43de-a734-3557ba800c0e" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="9623ade4-c501-44aa-8afc-2d06241f6590" location="[Webinar.BlazorClient].[User Interface].[MainLayout]" />
                  <target applicationId="f4941559-6203-43de-a734-3557ba800c0e" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="9623ade4-c501-44aa-8afc-2d06241f6590" location="[Webinar.BlazorClient].[User Interface].[MainLayout]" />
                  <mappedEnds>
                    <mappedEnd>
                      <expression>{NavigateToHome}</expression>
                      <path>
                        <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                        <target id="54c886af-6ab0-4ffa-a91c-bcd20322fe81" name="Header" type="element" specialization="Layout Header" specializationId="a6c3a89e-5932-4ab6-a406-75444f05beee" />
                        <target id="8e815619-0c27-4fc7-b183-9ccb2fec31dc" name="Home" type="element" specialization="Button" specializationId="4474d808-f6fd-405f-a9c7-6998cd000ede" />
                        <target id="ddfa6961-1042-4bea-84c7-4b2e9853c80a" name="Link To" type="static-mappable" specialization="Link To" specializationId="ddfa6961-1042-4bea-84c7-4b2e9853c80a" />
                      </path>
                      <sources>
                        <source identifier="NavigateToHome" mappingType="Event Mapping" mappingTypeId="95ce3c3e-ddf4-440b-a9b2-6b152a5fc1b8">
                          <path>
                            <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                            <target id="c7008f46-e32d-4289-b107-6310d27ee8ff" name="NavigateToHome" type="association" specialization="Navigation Target End" specializationId="2b191288-ecae-4743-b069-cbdd927ef349" />
                          </path>
                        </source>
                      </sources>
                    </mappedEnd>
                    <mappedEnd>
                      <expression>#####Application</expression>
                      <path>
                        <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                        <target id="54c886af-6ab0-4ffa-a91c-bcd20322fe81" name="Header" type="element" specialization="Layout Header" specializationId="a6c3a89e-5932-4ab6-a406-75444f05beee" />
                        <target id="8e815619-0c27-4fc7-b183-9ccb2fec31dc" name="Home" type="element" specialization="Button" specializationId="4474d808-f6fd-405f-a9c7-6998cd000ede" />
                        <target id="5658cabc-39e8-4aee-b7a5-faa04472f40b" name="Text" type="element" specialization="Text" specializationId="922150d2-42e6-4805-a002-f9580cdf7f6f" />
                      </path>
                      <sources />
                    </mappedEnd>
                    <mappedEnd>
                      <expression>{NavigateToExamplePage}</expression>
                      <path>
                        <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                        <target id="54c886af-6ab0-4ffa-a91c-bcd20322fe81" name="Header" type="element" specialization="Layout Header" specializationId="a6c3a89e-5932-4ab6-a406-75444f05beee" />
                        <target id="443796f0-1e9e-4a74-bb0f-33fa326b290c" name="Menu" type="element" specialization="Navigation Menu" specializationId="d7282bf2-1626-4b8b-9446-1d530527db06" />
                        <target id="f9effbde-4e65-4643-bb78-87c410005cd5" name="Profile" type="element" specialization="Menu Item" specializationId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" />
                        <target id="a4073b81-6ddd-44cb-909f-f2c97d965112" name="Link To" type="static-mappable" specialization="Link To" specializationId="a4073b81-6ddd-44cb-909f-f2c97d965112" />
                      </path>
                      <sources>
                        <source identifier="NavigateToExamplePage" mappingType="Event Mapping" mappingTypeId="95ce3c3e-ddf4-440b-a9b2-6b152a5fc1b8">
                          <path>
                            <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                            <target id="3544364c-e9dc-4ca7-8e0b-b5d4b88635f9" name="NavigateToExamplePage" type="association" specialization="Navigation Target End" specializationId="2b191288-ecae-4743-b069-cbdd927ef349" />
                          </path>
                        </source>
                      </sources>
                    </mappedEnd>
                    <mappedEnd>
                      <expression>{NavigateToExamplePage}</expression>
                      <path>
                        <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                        <target id="54c886af-6ab0-4ffa-a91c-bcd20322fe81" name="Header" type="element" specialization="Layout Header" specializationId="a6c3a89e-5932-4ab6-a406-75444f05beee" />
                        <target id="443796f0-1e9e-4a74-bb0f-33fa326b290c" name="Menu" type="element" specialization="Navigation Menu" specializationId="d7282bf2-1626-4b8b-9446-1d530527db06" />
                        <target id="6fb64c2f-bc82-4822-ac25-cf669e2f211f" name="My Account" type="element" specialization="Menu Item" specializationId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" />
                        <target id="a4073b81-6ddd-44cb-909f-f2c97d965112" name="Link To" type="static-mappable" specialization="Link To" specializationId="a4073b81-6ddd-44cb-909f-f2c97d965112" />
                      </path>
                      <sources>
                        <source identifier="NavigateToExamplePage" mappingType="Event Mapping" mappingTypeId="95ce3c3e-ddf4-440b-a9b2-6b152a5fc1b8">
                          <path>
                            <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                            <target id="3544364c-e9dc-4ca7-8e0b-b5d4b88635f9" name="NavigateToExamplePage" type="association" specialization="Navigation Target End" specializationId="2b191288-ecae-4743-b069-cbdd927ef349" />
                          </path>
                        </source>
                      </sources>
                    </mappedEnd>
                    <mappedEnd>
                      <expression>{NavigateToExamplePage}</expression>
                      <path>
                        <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                        <target id="54c886af-6ab0-4ffa-a91c-bcd20322fe81" name="Header" type="element" specialization="Layout Header" specializationId="a6c3a89e-5932-4ab6-a406-75444f05beee" />
                        <target id="443796f0-1e9e-4a74-bb0f-33fa326b290c" name="Menu" type="element" specialization="Navigation Menu" specializationId="d7282bf2-1626-4b8b-9446-1d530527db06" />
                        <target id="7d79c0bd-547c-4e6d-9c28-76e9fa96cddd" name="Logout" type="element" specialization="Menu Item" specializationId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" />
                        <target id="a4073b81-6ddd-44cb-909f-f2c97d965112" name="Link To" type="static-mappable" specialization="Link To" specializationId="a4073b81-6ddd-44cb-909f-f2c97d965112" />
                      </path>
                      <sources>
                        <source identifier="NavigateToExamplePage" mappingType="Event Mapping" mappingTypeId="95ce3c3e-ddf4-440b-a9b2-6b152a5fc1b8">
                          <path>
                            <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                            <target id="3544364c-e9dc-4ca7-8e0b-b5d4b88635f9" name="NavigateToExamplePage" type="association" specialization="Navigation Target End" specializationId="2b191288-ecae-4743-b069-cbdd927ef349" />
                          </path>
                        </source>
                      </sources>
                    </mappedEnd>
                    <mappedEnd>
                      <expression>{NavigateToExamplePage}</expression>
                      <path>
                        <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                        <target id="14ad0b60-ef3a-43f1-9b49-b443b9a4be3a" name="Sider" type="element" specialization="Layout Sider" specializationId="c505f35f-7148-46a3-a812-d9f53a174490" />
                        <target id="329124ff-3e91-4c59-a3f9-7a42ee1a50e9" name="Navigation Menu" type="element" specialization="Navigation Menu" specializationId="d7282bf2-1626-4b8b-9446-1d530527db06" />
                        <target id="0c6361e9-50dd-4a95-9ed8-85ed90a12f3c" name="Add Menu Options..." type="element" specialization="Menu Item" specializationId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" />
                        <target id="a4073b81-6ddd-44cb-909f-f2c97d965112" name="Link To" type="static-mappable" specialization="Link To" specializationId="a4073b81-6ddd-44cb-909f-f2c97d965112" />
                      </path>
                      <sources>
                        <source identifier="NavigateToExamplePage" mappingType="Event Mapping" mappingTypeId="95ce3c3e-ddf4-440b-a9b2-6b152a5fc1b8">
                          <path>
                            <target id="9623ade4-c501-44aa-8afc-2d06241f6590" name="MainLayout" type="element" specialization="Layout" specializationId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" />
                            <target id="3544364c-e9dc-4ca7-8e0b-b5d4b88635f9" name="NavigateToExamplePage" type="association" specialization="Navigation Target End" specializationId="2b191288-ecae-4743-b069-cbdd927ef349" />
                          </path>
                        </source>
                      </sources>
                    </mappedEnd>
                  </mappedEnds>
                </mapping>
              </mappings>
              <isAbstract>false</isAbstract>
              <display>MainLayout</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Layout</display>
        </element>
        <element id="fe86240e-a557-4bac-b6fa-e6adabe48a2a" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
          <name>Pages</name>
          <genericTypes />
          <metadata />
          <stereotypes>
            <stereotype stereotypeDefinitionId="66fd9e66-42c7-4ef9-a778-b68e009272b9" name="Folder Options">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.Common.CSharp</definitionPackageName>
              <definitionPackageId>730e1275-0c32-44f7-991a-9619d07ca68d</definitionPackageId>
              <properties>
                <property name="96df2fa6-7361-4e43-9acf-dbcea23b650a" display="Namespace Provider" value="true" isActive="true" />
              </properties>
            </stereotype>
          </stereotypes>
          <childElements>
            <element id="260888ae-ca9c-48e4-9513-7958e00e5cdd" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
              <name>ExamplePage</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="ea4adc09-8978-4ede-ba5f-265debb2b60c" name="Page">
                  <addedByDefault>false</addedByDefault>
                  <definitionPackageName>Intent.Modelers.UI</definitionPackageName>
                  <definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
                  <properties>
                    <property name="9dff9df1-a993-4bf6-9aa7-c16811142228" display="Route" value="/example-page" isActive="true" />
                    <property name="0a8627ba-ec45-4023-9c36-b0999f43e982" display="Title" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="fffa7bdd-b151-4d87-841b-82bf55f4dfa0" typeId="624513a6-cba8-4dde-8ebe-6b19f00f0364" type="Component View">
                  <name>[view]</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements>
                    <element id="0c424862-0165-4564-ab74-f7548768f91e" typeId="922150d2-42e6-4805-a002-f9580cdf7f6f" type="Text">
                      <name>Head</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Head = ###Example Page</display>
                      <value>###Example Page</value>
                    </element>
                    <element id="15f9345c-31ed-4311-80d1-dfe96624d4dd" typeId="922150d2-42e6-4805-a002-f9580cdf7f6f" type="Text">
                      <name>Text</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Text = A simple example page for navigation purposes.</display>
                      <value>A simple example page for navigation purposes.</value>
                    </element>
                    <element id="58f38044-386d-4937-a5b0-916b248f59d7" typeId="4474d808-f6fd-405f-a9c7-6998cd000ede" type="Button">
                      <name>Return Home</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes>
                        <stereotype stereotypeDefinitionId="b218f7cb-d150-401d-a17a-9e22fadf863f" name="Appearance">
                          <addedByDefault>true</addedByDefault>
                          <definitionPackageName>Intent.Blazor.Components.MudBlazor</definitionPackageName>
                          <definitionPackageId>47e5f8d0-3892-4408-b6f9-88bf8591af2d</definitionPackageId>
                          <properties>
                            <property name="eecbc26c-443b-4d97-a706-a4e21fc13552" display="Icon Only" value="false" isActive="true" />
                            <property name="de8a25d2-a144-4806-b5ad-e6c195abfa43" display="Variant" value="93828c49-ea2f-46d2-b661-df6fc2c4a0e2" isActive="true" />
                            <property name="d527d5a7-fd00-4486-a204-5c6fc93099a5" display="Color" value="edfca156-96df-48d3-80a0-8bb814a37d01" isActive="true" />
                            <property name="9243cf9b-c6de-47d4-a914-382ab7ddf920" display="Class" isActive="true" />
                          </properties>
                        </stereotype>
                        <stereotype stereotypeDefinitionId="a7de29e5-4bee-4e5d-93f0-740569ac6130" name="Interaction">
                          <addedByDefault>true</addedByDefault>
                          <definitionPackageName>Intent.Modelers.UI.Core</definitionPackageName>
                          <definitionPackageId>a2a95421-3e55-43c7-96ad-355610b43c4d</definitionPackageId>
                          <properties>
                            <property name="7cee794d-e1a7-4590-b65a-6e56914a2a97" display="Type" value="Default" isActive="true" />
                            <property name="2265736b-4381-42dc-9dbf-b757188837bc" display="Form" isActive="false" />
                            <property name="d05f7b5b-fe45-4cbb-b938-380a4b68c0df" display="On Click" isActive="true" />
                          </properties>
                        </stereotype>
                        <stereotype stereotypeDefinitionId="8e1b7033-fd27-495a-a2a7-36b5168f04f5" name="Icon">
                          <addedByDefault>false</addedByDefault>
                          <definitionPackageName>Intent.Blazor.Components.MudBlazor</definitionPackageName>
                          <definitionPackageId>47e5f8d0-3892-4408-b6f9-88bf8591af2d</definitionPackageId>
                          <properties>
                            <property name="7bda044e-8be7-4ac4-98cd-41e97132942f" display="Icon Value" value="2e0b8994-65b2-41d5-9818-dfa480428644" isActive="true" />
                            <property name="6a70b142-c60d-4015-97aa-be0bcab7d128" display="Icon Color" isActive="true" />
                            <property name="13f1151e-7611-4bde-8374-1598b5d3335c" display="Variant" value="41f2ef78-a358-43bd-9b84-926dc185c8d1" isActive="true" />
                          </properties>
                        </stereotype>
                      </stereotypes>
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Return Home</display>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>[view]</display>
                </element>
                <element id="c275f864-2421-48d3-b294-2705cc07bcd4" typeId="e030c97a-e066-40a7-8188-808c275df3cb" type="Component Operation">
                  <name>OnInitializedAsync</name>
                  <typeReference>
                    <isNavigable>true</isNavigable>
                    <isNullable>false</isNullable>
                    <isCollection>false</isCollection>
                    <typeName>void</typeName>
                  </typeReference>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>OnInitializedAsync(): void</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <mappings>
                <mapping type="View Binding" typeId="c33f86ad-423a-4a6f-a80c-a3206eafe5cd">
                  <source applicationId="f4941559-6203-43de-a734-3557ba800c0e" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="260888ae-ca9c-48e4-9513-7958e00e5cdd" location="[Webinar.BlazorClient].[User Interface].[ExamplePage]" />
                  <target applicationId="f4941559-6203-43de-a734-3557ba800c0e" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="fffa7bdd-b151-4d87-841b-82bf55f4dfa0" location="[Webinar.BlazorClient].[User Interface].[[view]]" />
                  <mappedEnds>
                    <mappedEnd>
                      <expression>###Example Page</expression>
                      <path>
                        <target id="fffa7bdd-b151-4d87-841b-82bf55f4dfa0" name="[view]" type="element" specialization="Component View" specializationId="624513a6-cba8-4dde-8ebe-6b19f00f0364" />
                        <target id="0c424862-0165-4564-ab74-f7548768f91e" name="Head" type="element" specialization="Text" specializationId="922150d2-42e6-4805-a002-f9580cdf7f6f" />
                      </path>
                      <sources />
                    </mappedEnd>
                    <mappedEnd>
                      <expression>A simple example page for navigation purposes.</expression>
                      <path>
                        <target id="fffa7bdd-b151-4d87-841b-82bf55f4dfa0" name="[view]" type="element" specialization="Component View" specializationId="624513a6-cba8-4dde-8ebe-6b19f00f0364" />
                        <target id="15f9345c-31ed-4311-80d1-dfe96624d4dd" name="Text" type="element" specialization="Text" specializationId="922150d2-42e6-4805-a002-f9580cdf7f6f" />
                      </path>
                      <sources />
                    </mappedEnd>
                    <mappedEnd>
                      <expression>{NavigateToHome}</expression>
                      <path>
                        <target id="fffa7bdd-b151-4d87-841b-82bf55f4dfa0" name="[view]" type="element" specialization="Component View" specializationId="624513a6-cba8-4dde-8ebe-6b19f00f0364" />
                        <target id="58f38044-386d-4937-a5b0-916b248f59d7" name="Return Home" type="element" specialization="Button" specializationId="4474d808-f6fd-405f-a9c7-6998cd000ede" />
                        <target id="ddfa6961-1042-4bea-84c7-4b2e9853c80a" name="Link To" type="static-mappable" specialization="Link To" specializationId="ddfa6961-1042-4bea-84c7-4b2e9853c80a" />
                      </path>
                      <sources>
                        <source identifier="NavigateToHome" mappingType="Event Mapping" mappingTypeId="95ce3c3e-ddf4-440b-a9b2-6b152a5fc1b8">
                          <path>
                            <target id="260888ae-ca9c-48e4-9513-7958e00e5cdd" name="ExamplePage" type="element" specialization="Component" specializationId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" />
                            <target id="be0c2fd0-8548-4c67-ac83-250c872984cd" name="NavigateToHome" type="association" specialization="Navigation Target End" specializationId="2b191288-ecae-4743-b069-cbdd927ef349" />
                          </path>
                        </source>
                      </sources>
                    </mappedEnd>
                  </mappedEnds>
                </mapping>
              </mappings>
              <isAbstract>false</isAbstract>
              <display>ExamplePage</display>
            </element>
            <element id="5e2fbbee-4125-4d10-8f9a-955b9850098e" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
              <name>Home</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="ea4adc09-8978-4ede-ba5f-265debb2b60c" name="Page">
                  <addedByDefault>false</addedByDefault>
                  <definitionPackageName>Intent.Modelers.UI</definitionPackageName>
                  <definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
                  <properties>
                    <property name="9dff9df1-a993-4bf6-9aa7-c16811142228" display="Route" value="/" isActive="true" />
                    <property name="0a8627ba-ec45-4023-9c36-b0999f43e982" display="Title" value="Home" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="52d80ba9-1ee9-4767-a95f-b4f26c0493b3" typeId="624513a6-cba8-4dde-8ebe-6b19f00f0364" type="Component View">
                  <name>[view]</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements>
                    <element id="8fb51ce9-55ec-4cc1-b58d-87e992ca0abf" typeId="922150d2-42e6-4805-a002-f9580cdf7f6f" type="Text">
                      <name>Head</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Head = ###Hello, world!</display>
                      <value>###Hello, world!</value>
                    </element>
                    <element id="e584ace1-0e53-4e20-bc4c-7213360372b0" typeId="922150d2-42e6-4805-a002-f9580cdf7f6f" type="Text">
                      <name>Text</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Text = Welcome to your new app, powered by MudBlazor and .NET 8!</display>
                      <value>Welcome to your new app, powered by MudBlazor and .NET 8!</value>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>[view]</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>Home</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Pages</display>
        </element>
      </childElements>
      <associations>
        <association id="be0c2fd0-8548-4c67-ac83-250c872984cd">
          <type>Navigation</type>
          <typeId>6d2b2070-c1cb-4cd2-88b4-4e5f8414bd9e</typeId>
          <sourceEnd id="c7adf3e1-2631-4efe-a16b-0caf0e64b6db">
            <type>Navigation Source End</type>
            <typeId>97a3de8a-c9bf-4cf2-bc0a-b8692b02211b</typeId>
            <display>: ExamplePage</display>
            <typeReference>
              <typeId>260888ae-ca9c-48e4-9513-7958e00e5cdd</typeId>
              <isNavigable>false</isNavigable>
              <isNullable>false</isNullable>
              <isCollection>false</isCollection>
              <typeName>ExamplePage</typeName>
            </typeReference>
            <metadata />
          </sourceEnd>
          <targetEnd id="be0c2fd0-8548-4c67-ac83-250c872984cd">
            <type>Navigation Target End</type>
            <typeId>2b191288-ecae-4743-b069-cbdd927ef349</typeId>
            <name>NavigateToHome</name>
            <display>[navigate] Home</display>
            <typeReference>
              <typeId>5e2fbbee-4125-4d10-8f9a-955b9850098e</typeId>
              <isNavigable>true</isNavigable>
              <isNullable>false</isNullable>
              <isCollection>false</isCollection>
              <typeName>Home</typeName>
            </typeReference>
            <metadata />
          </targetEnd>
        </association>
        <association id="3544364c-e9dc-4ca7-8e0b-b5d4b88635f9">
          <type>Navigation</type>
          <typeId>6d2b2070-c1cb-4cd2-88b4-4e5f8414bd9e</typeId>
          <sourceEnd id="76ab0463-de13-4014-82cd-1b5b8082b3e7">
            <type>Navigation Source End</type>
            <typeId>97a3de8a-c9bf-4cf2-bc0a-b8692b02211b</typeId>
            <display>: MainLayout</display>
            <typeReference>
              <typeId>9623ade4-c501-44aa-8afc-2d06241f6590</typeId>
              <isNavigable>false</isNavigable>
              <isNullable>false</isNullable>
              <isCollection>false</isCollection>
              <typeName>MainLayout</typeName>
            </typeReference>
            <metadata />
          </sourceEnd>
          <targetEnd id="3544364c-e9dc-4ca7-8e0b-b5d4b88635f9">
            <type>Navigation Target End</type>
            <typeId>2b191288-ecae-4743-b069-cbdd927ef349</typeId>
            <name>NavigateToExamplePage</name>
            <display>[navigate] ExamplePage</display>
            <typeReference>
              <typeId>260888ae-ca9c-48e4-9513-7958e00e5cdd</typeId>
              <isNavigable>true</isNavigable>
              <isNullable>false</isNullable>
              <isCollection>false</isCollection>
              <typeName>ExamplePage</typeName>
            </typeReference>
            <metadata />
          </targetEnd>
        </association>
        <association id="c7008f46-e32d-4289-b107-6310d27ee8ff">
          <type>Navigation</type>
          <typeId>6d2b2070-c1cb-4cd2-88b4-4e5f8414bd9e</typeId>
          <sourceEnd id="df44a86e-b5c9-4235-98c0-6a07865bc9fb">
            <type>Navigation Source End</type>
            <typeId>97a3de8a-c9bf-4cf2-bc0a-b8692b02211b</typeId>
            <display>: MainLayout</display>
            <typeReference>
              <typeId>9623ade4-c501-44aa-8afc-2d06241f6590</typeId>
              <isNavigable>false</isNavigable>
              <isNullable>false</isNullable>
              <isCollection>false</isCollection>
              <typeName>MainLayout</typeName>
            </typeReference>
            <metadata />
          </sourceEnd>
          <targetEnd id="c7008f46-e32d-4289-b107-6310d27ee8ff">
            <type>Navigation Target End</type>
            <typeId>2b191288-ecae-4743-b069-cbdd927ef349</typeId>
            <name>NavigateToHome</name>
            <display>[navigate] Home</display>
            <typeReference>
              <typeId>5e2fbbee-4125-4d10-8f9a-955b9850098e</typeId>
              <isNavigable>true</isNavigable>
              <isNullable>false</isNullable>
              <isCollection>false</isCollection>
              <typeName>Home</typeName>
            </typeReference>
            <metadata />
          </targetEnd>
        </association>
      </associations>
      <references />
    </package>
  </createPackages>
</settings>