<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>6ab29b31-27af-4f56-a67c-986d82097d63</targetDesignerId>
	<createPackages>
		<package id="fd9cfbdd-48fb-450c-bcbb-3a39bcdca362" typeId="9d80acf2-6f29-4688-955b-6c17f94042ff" type="Mongo Domain Package">
			<name>${application.name}.Domain</name>
			<stereotypes />
			<childElements>
				<element id="0b8f70f8-9712-419e-aa38-3089f8633839" typeId="67f81f34-af38-4245-9c8e-1816e3012cce" type="MongoDB Diagram">
					<name>New Diagram</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements />
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>New Diagram</display>
				</element>
			</childElements>
			<associations />
			<references />
		</package>
	</createPackages>
</settings>