<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Application.AutoMapper" version="4.0.2" />
  <module moduleId="Intent.Application.Contracts" version="5.0.1" />
  <module moduleId="Intent.Application.Contracts.Clients" version="4.0.2-pre.0" />
  <module moduleId="Intent.Application.DependencyInjection" version="4.0.4" />
  <module moduleId="Intent.Application.DependencyInjection.AutoMapper" version="3.4.4" />
  <module moduleId="Intent.Application.Dtos" version="4.0.6-pre.0" />
  <module moduleId="Intent.Application.Dtos.AutoMapper" version="4.0.5" />
  <module moduleId="Intent.Application.Dtos.Pagination" version="4.0.5-pre.0" />
  <module moduleId="Intent.Application.FluentValidation" version="3.6.0" />
  <module moduleId="Intent.Application.FluentValidation.Dtos" version="3.5.0" />
  <module moduleId="Intent.Application.ServiceImplementations" version="4.3.0" />
  <module moduleId="Intent.Application.ServiceImplementations.Conventions.CRUD" version="4.3.2-pre.0" />
  <module moduleId="Intent.AspNetCore" version="5.1.1" />
  <module moduleId="Intent.AspNetCore.Controllers" version="5.3.0" />
  <module moduleId="Intent.AspNetCore.Controllers.Dispatch.ServiceContract" version="5.1.2" />
  <module moduleId="Intent.AspNetCore.Swashbuckle" version="4.0.6" />
  <module moduleId="Intent.AspNetCore.Versioning" version="1.0.2" />
  <module moduleId="Intent.Common" version="3.4.2" />
  <module moduleId="Intent.Common.CSharp" version="3.3.37" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Entities" version="4.3.3-pre.0" />
  <module moduleId="Intent.Entities.Repositories.Api" version="4.1.0" />
  <module moduleId="Intent.EntityFrameworkCore" version="4.4.4" />
  <module moduleId="Intent.EntityFrameworkCore.Repositories" version="4.2.5" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="4.0.6" />
  <module moduleId="Intent.Integration.HttpClients" version="4.0.1" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.5.2" />
  <module moduleId="Intent.Metadata.WebApi" version="4.2.4-pre.0" />
  <module moduleId="Intent.Modelers.Domain" version="3.4.4" />
  <module moduleId="Intent.Modelers.Domain.Repositories" version="3.3.3" />
  <module moduleId="Intent.Modelers.ServiceProxies" version="4.0.1" />
  <module moduleId="Intent.Modelers.Services" version="3.4.4" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="4.0.2" />
  <module moduleId="Intent.Modelers.Services.CRUD.ServiceDispatch" version="4.0.4" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="4.0.1" />
  <module moduleId="Intent.Modules.AspNetCore.Logging.Serilog" version="4.0.0" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.1.2" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.28-pre.0" />
</modules>