<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
	<createPackages>
		<package id="e177fd07-ad3d-4cdf-abaa-1e5fefce17e5" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
			<name>${application.name}</name>
			<stereotypes />
			<childElements>
				<element id="2b76d8c9-dd09-40ff-9955-8ab74ee9512a" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
					<name>1 - Api</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="a4612648-648e-4bdc-9c4f-2d21574314d0" typeId="FFD54A85-9362-48AC-B646-C93AB9AC63D2" type="ASP.NET Core Web Application">
							<name>${application.name}.Api</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
									<addedByDefault>true</addedByDefault>
									<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
									<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
									<properties>
										<property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
										<property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="${target-framework}" isActive="true" />
										<property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
										<property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
										<property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
										<property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
										<property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" value="254b1f62-4be1-4a3a-8e4d-8b1bd2f93976" isActive="true" />
										<property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
										<property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
									</properties>
								</stereotype>
								<stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
									<addedByDefault>true</addedByDefault>
									<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
									<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
									<properties>
										<property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
										<property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
										<property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="true" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements>
								<element id="060a63b7-71dc-488a-8c31-3e0e32c9e87d" typeId="3407a825-1331-4f3f-89a4-901903ed97ce" type="Folder">
									<name>ClientApp</name>
									<genericTypes />
									<metadata />
									<stereotypes>
										<stereotype stereotypeDefinitionId="61132551-825d-4c6e-b9f1-0f95249d08d4" name="Folder Options">
											<addedByDefault>true</addedByDefault>
											<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
											<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
											<properties>
												<property name="4bfbefd0-d22e-4ca0-9723-92ae273feca4" display="Namespace Provider" value="true" isActive="true" />
											</properties>
										</stereotype>
									</stereotypes>
									<childElements>
										<element id="164d4bd8-c4f0-4ca1-baa1-2549cc348c20" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
											<name>Front End</name>
											<genericTypes />
											<metadata />
											<stereotypes />
											<childElements />
											<isMapped>false</isMapped>
											<isAbstract>false</isAbstract>
											<display>Front End</display>
										</element>
									</childElements>
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>ClientApp</display>
								</element>
								<element id="cf2c3d03-b17f-40c1-93c5-64129341f35e" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
									<name>Distribution</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Distribution</display>
								</element>
								<element id="904efe78-bfc4-4bfd-903b-725f593b9b22" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
									<name>Startup</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Startup</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>${application.name}.Api</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>1 - Api</display>
				</element>
				<element id="b44dfcb9-e9e9-43a2-855e-abf9c45a0359" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
					<name>2 - Application</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="e5210c02-22fc-4c16-b9e4-9c014cf765ba" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
							<name>${application.name}.Application</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
									<addedByDefault>true</addedByDefault>
									<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
									<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
									<properties>
										<property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
										<property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="${target-framework}" isActive="true" />
										<property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
										<property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
										<property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
										<property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
										<property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
										<property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
										<property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
									</properties>
								</stereotype>
								<stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
									<addedByDefault>true</addedByDefault>
									<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
									<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
									<properties>
										<property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
										<property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
										<property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="true" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements>
								<element id="1be18753-0bf3-4e0b-b5d7-800fc5b49272" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
									<name>Application</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Application</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>${application.name}.Application</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>2 - Application</display>
				</element>
				<element id="9bb4214b-c7f4-4a07-ba31-0c8d9d826541" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
					<name>3 - Domain</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="0e3e7cf8-3356-47f5-a317-b036a278695c" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
							<name>${application.name}.Domain</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
									<addedByDefault>true</addedByDefault>
									<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
									<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
									<properties>
										<property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
										<property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="${target-framework}" isActive="true" />
										<property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
										<property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
										<property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
										<property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
										<property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
										<property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
										<property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
									</properties>
								</stereotype>
								<stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
									<addedByDefault>true</addedByDefault>
									<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
									<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
									<properties>
										<property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
										<property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
										<property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="true" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements>
								<element id="2a1229cd-24cf-4128-b1a7-fcb2ac3020f8" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
									<name>Domain</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Domain</display>
								</element>
								<element id="f06bb1ad-cc5c-4d7e-baf5-db9f4035c3e9" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
									<name>Repository.Interface</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Repository.Interface</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>${application.name}.Domain</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>3 - Domain</display>
				</element>
				<element id="03755119-cb3c-4cca-a0d0-532c2b817667" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
					<name>4 - Infrastructure</name>
					<genericTypes />
					<metadata />
					<stereotypes />
					<childElements>
						<element id="5348f4ef-e0ff-416b-8141-cb00f659f1dc" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
							<name>${application.name}.Infrastructure</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
									<addedByDefault>true</addedByDefault>
									<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
									<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
									<properties>
										<property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
										<property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="${target-framework}" isActive="true" />
										<property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
										<property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
										<property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
										<property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
										<property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
										<property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
										<property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
									</properties>
								</stereotype>
								<stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
									<addedByDefault>true</addedByDefault>
									<definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
									<definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
									<properties>
										<property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
										<property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
										<property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="true" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements>
								<element id="85686dd2-fb9f-4b8f-886e-2be24d503492" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
									<name>Infrastructure</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Infrastructure</display>
								</element>
								<element id="352eeda5-4ba6-45bd-be6b-e4e730503ddc" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
									<name>Repository.Implementation</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Repository.Implementation</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>${application.name}.Infrastructure</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>4 - Infrastructure</display>
				</element>
			</childElements>
			<associations />
			<references />
		</package>
	</createPackages>
</settings>