<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.5.2" />
  <module moduleId="Intent.Common.CSharp" version="3.5.2-pre.1" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.ContinuousIntegration.AzurePipelines" version="1.0.2" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.5.1-pre.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.6.1-pre.2" />
</modules>