<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Application.Contracts" version="3.3.8" />
  <module moduleId="Intent.Application.Contracts.Clients" version="3.3.9" />
  <module moduleId="Intent.Application.Dtos" version="3.3.8" />
  <module moduleId="Intent.AspNetCore" version="3.3.11" />
  <module moduleId="Intent.AspNetCore.Controllers" version="3.3.14-pre.1" />
  <module moduleId="Intent.AspNetCore.Controllers.Interop.Contracts" version="3.3.11" />
  <module moduleId="Intent.Common" version="3.3.14-pre.0" />
  <module moduleId="Intent.Common.CSharp" version="3.3.22-pre.0" />
  <module moduleId="Intent.Common.Types" version="3.3.6" />
  <module moduleId="Intent.Integration.HttpClients" version="3.3.0-pre.6" />
  <module moduleId="Intent.Metadata.WebApi" version="3.3.10" />
  <module moduleId="Intent.Modelers.Domain" version="3.3.9-pre.0" />
  <module moduleId="Intent.Modelers.ServiceProxies" version="3.3.6" />
  <module moduleId="Intent.Modelers.Services" version="3.3.5" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="3.3.6" />
  <module moduleId="Intent.Modelers.Types.ServiceProxies" version="3.3.6" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.3.9-pre.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.17" />
</modules>