<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.4.1" />
  <module moduleId="Intent.Common.CSharp" version="3.3.39" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.30" />
</modules>