<?xml version="1.0" encoding="utf-8"?>
<package id="6050a162-76a3-4811-912d-466253eb2ac8" type="Service Proxies Package" typeId="46ef9b5e-e38c-48f2-8516-ea48c310ce23">
  <applicationId>a905a5c6-22ed-4c81-aba6-e2d01e40c02a</applicationId>
  <designerId>2799aa83-e256-46fe-9589-b96f7d6b09f7</designerId>
  <name>Subscribe.CleanArchDapr.TestApplication.ServiceProxies</name>
  <externalReference>40506676-130b-4e5d-b926-2dc2ee48b339</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>