<?xml version="1.0" encoding="utf-8"?>
<settings>
    <targetDesignerId>6ab29b31-27af-4f56-a67c-986d82097d63</targetDesignerId>
    <createPackages>
        <package id="c52cda8a-7586-490a-90fa-c94a0a9772e9" typeId="1a824508-4623-45d9-accc-f572091ade5a" type="Domain Package">
            <name>${application.name}.Domain</name>
            <stereotypes />
            <childElements>
                <element id="d062af63-7b0b-4d5e-9760-1f625aa90f6d" typeId="4d66fecd-e9b8-436f-aa50-c59040ad0879" type="Diagram">
                    <name>Default Diagram</name>
                    <genericTypes />
                    <metadata />
                    <stereotypes />
                    <childElements />
                    <isMapped>false</isMapped>
                    <isAbstract>false</isAbstract>
                    <display>Default Diagram</display>
                    <diagram>
                        <targetPackageId>c52cda8a-7586-490a-90fa-c94a0a9772e9</targetPackageId>
                    </diagram>
                </element>
            </childElements>
            <associations />
            <references />
        </package>
    </createPackages>
</settings>