<?xml version="1.0" encoding="utf-8"?>
<settings>
    <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
    <createPackages>
        <package id="bfdd043d-eb3f-4508-9db6-2be3da08a25f" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
            <name>${application.name}.Services</name>
            <stereotypes />
            <childElements />
            <associations />
            <references>
                <reference>
                    <packageId>c52cda8a-7586-490a-90fa-c94a0a9772e9</packageId>
                    <include>${application.name}.Domain</include>
                    <isExternal>true</isExternal>
                    <relativePath>../../Domain/${application.name}.Domain/${application.name}.Domain.pkg.config</relativePath>
                </reference>
            </references>
        </package>
    </createPackages>
</settings>