<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.3.14-pre.0" />
  <module moduleId="Intent.Common.CSharp" version="3.3.22-pre.0" />
  <module moduleId="Intent.Common.Types" version="3.3.6" />
  <module moduleId="Intent.Entities" version="3.3.13" />
  <module moduleId="Intent.Entities.Keys" version="3.3.10" />
  <module moduleId="Intent.EntityFrameworkCore" version="3.3.16" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.3.10" />
  <module moduleId="Intent.Modelers.Domain" version="3.3.9-pre.0" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.3.9-pre.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.3.17" />
</modules>