<#@ template language="C#" inherits="IntentTemplateBase<object>" #>
<#@ import namespace="Intent.Modules.Common.Templates" #>
{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true"
  }
}