<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.AspNetCore" version="6.0.1" />
  <module moduleId="Intent.Common" version="3.5.2" />
  <module moduleId="Intent.Common.CSharp" version="3.5.1" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.Eventing.Contracts" version="5.0.3-pre.0" />
  <module moduleId="Intent.Eventing.MassTransit" version="6.0.2-pre.1" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="4.1.0" />
  <module moduleId="Intent.Modelers.Domain" version="3.5.1" />
  <module moduleId="Intent.Modelers.Eventing" version="5.0.2-pre.1" />
  <module moduleId="Intent.Modelers.Services" version="3.5.1" />
  <module moduleId="Intent.Modelers.Services.EventInteractions" version="1.0.2-pre.1" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.5.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.6.1-pre.1" />
</modules>