<?xml version="1.0" encoding="utf-8"?>
<package id="2bbc16f8-5986-450f-8496-022a8d16bd5e" type="Visual Studio Solution" typeId="07e7b690-a59d-4b72-8440-4308a121d32c">
  <applicationId>52adfd77-8ba4-4570-940a-61cf3d6c85f6</applicationId>
  <designerId>0701433c-36c0-4569-b1f4-9204986b587d</designerId>
  <name>EntityFrameworkCore.MultiDbContext.NoDefaultDbContext</name>
  <externalReference>e177fd07-ad3d-4cdf-abaa-1e5fefce17e5</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="a0636ab7-d3a1-430b-9609-11a18aa3cc7f" include="Intent.VisualStudio.Projects" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
    <reference packageId="4aab5ac2-71c3-4d2b-a616-0ad39a8193ba" include="Intent.VisualStudio.Projects.Frameworks" isExternal="true">
      <module>Intent.VisualStudio.Projects</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>