<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>6ab29b31-27af-4f56-a67c-986d82097d63</targetDesignerId>
  <createPackages>
    <package id="c0a05a83-d445-42de-9817-eb4273c96652" typeId="1a824508-4623-45d9-accc-f572091ade5a" type="Domain Package">
      <name>Domain</name>
      <stereotypes />
      <childElements>
        <element id="7e6c94eb-7b2f-4851-9aaf-d3f62599e635" typeId="4d66fecd-e9b8-436f-aa50-c59040ad0879" type="Diagram">
          <name>Default Diagram</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Default Diagram</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>