<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
  <createPackages>
    <package id="24cb799e-b4c6-4f5b-a060-e97ab7ba7f21" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
      <name>Services</name>
      <stereotypes />
      <childElements />
      <associations />
      <references>
        <reference>
          <packageId>c0a05a83-d445-42de-9817-eb4273c96652</packageId>
          <include>Domain</include>
          <isExternal>true</isExternal>
          <relativePath>../../Domain/Domain/Domain.pkg.config</relativePath>
        </reference>
      </references>
    </package>
  </createPackages>
</settings>