@page "/Account/ForgotPassword"
@using System.ComponentModel.DataAnnotations
@using Blazor.InteractiveAuto.Jwt.Common
@inject IAuthService AuthService

<PageTitle>Forgot your password?</PageTitle>
<h1>Forgot your password?</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input"
                  FormName="forgot-password"
                  OnValidSubmit="OnValidSubmitAsync"
                  method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger"
                               role="alert" />
            <div class="form-floating mb-3">
                <InputText class="form-control"
                           @bind-Value="Input.Email"
                           autocomplete="username"
                           aria-required="true"
                           placeholder="name@example.com" />
                <label class="form-label"
                       for="email">
                    Email
                </label>
                <ValidationMessage class="text-danger"
                                   For="() => Input.Email" />
                <button class="w-100 btn btn-lg btn-primary"
                        type="submit">
                    Reset password
                </button>
            </div>
        </EditForm>
    </div>
</div>
@code {

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        await AuthService.ForgotPassword(Input.Email);
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
}
