<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.EntityFrameworkCore.DesignTimeDbContextFactory</packageId>
  <templates>
    <template id="Intent.EntityFrameworkCore.DesignTimeDbContextFactory.ApplicationSettingsJson">
      <overrides />
    </template>
    <template id="Intent.EntityFrameworkCore.DesignTimeDbContextFactory.DesignTimeDbContextFactory">
      <overrides />
    </template>
  </templates>
  <decorators />
  <factoryExtensions>
    <factoryExtension id="Intent.EntityFrameworkCore.DesignTimeDbContextFactory.MigrationsReadMeExtension">
      <overrides />
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>