<?xml version="1.0" encoding="utf-8"?>
<assetRepositories>
  <entries>
    <entry>
      <name>Local IntentModules.NET</name>
      <address>..\..\..\Modules\Intent.Modules</address>
      <isBuiltIn>false</isBuiltIn>
      <order>0</order>
    </entry>
    <entry>
      <name>Local IntentModules</name>
      <address>..\..\..\..\Intent.Modules\Modules\Intent.Modules</address>
      <isBuiltIn>false</isBuiltIn>
      <order>1</order>
    </entry>
  </entries>
</assetRepositories>