<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>6ab29b31-27af-4f56-a67c-986d82097d63</targetDesignerId>
  <createPackages>
    <package id="27d4cca5-a376-4914-bd68-10a143976ac3" typeId="1a824508-4623-45d9-accc-f572091ade5a" type="Domain Package">
      <name>Domain</name>
      <stereotypes />
      <childElements>
        <element id="e0ed91bb-33a1-4989-9ef7-2a1394ceb2ff" typeId="4d66fecd-e9b8-436f-aa50-c59040ad0879" type="Diagram">
          <name>Default Diagram</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Default Diagram</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>