<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
  <createPackages>
    <package id="d323f711-04f6-4a38-9668-0527e76016d6" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
      <name>Services</name>
      <stereotypes />
      <childElements />
      <associations />
      <references>
        <reference>
          <packageId>27d4cca5-a376-4914-bd68-10a143976ac3</packageId>
          <include>Domain</include>
          <isExternal>true</isExternal>
          <relativePath>../../Domain/Domain/Domain.pkg.config</relativePath>
        </reference>
      </references>
    </package>
  </createPackages>
</settings>