<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="522e5221-7a4d-4787-bdb8-b81faf65df5d" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${application.name}</name>
      <stereotypes />
      <childElements>
        <element id="52c83613-2e2b-4bca-87e9-8c981bfb3f99" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>1 - Api</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="f13058cb-aca3-47c5-b83e-39e1830056b7" typeId="FFD54A85-9362-48AC-B646-C93AB9AC63D2" type="ASP.NET Core Web Application">
              <name>${application.name}.Api</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="d603dbfd-3361-4406-b5c0-efc2ac6f33fc" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="d3314f0e-f9c2-412e-8fb4-d27a36be69d2" typeId="3407a825-1331-4f3f-89a4-901903ed97ce" type="Folder">
                  <name>ClientApp</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="61132551-825d-4c6e-b9f1-0f95249d08d4" name="Folder Options">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                      <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                      <properties>
                        <property name="4bfbefd0-d22e-4ca0-9723-92ae273feca4" display="Namespace Provider" value="true" isActive="true" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements>
                    <element id="7345b964-d434-4cf9-82b3-d491877f99ad" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                      <name>Front End</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Front End</display>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>ClientApp</display>
                </element>
                <element id="816f9e76-3e1a-40cf-bec1-b6ffe4ad3689" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Distribution</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Distribution</display>
                </element>
                <element id="d6fd9bda-8913-404d-b269-d8240c3da48b" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Startup</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Startup</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Api</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>1 - Api</display>
        </element>
        <element id="e6f7474c-6f5f-43bc-86c0-10f6ed2b02b0" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>2 - Application</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="ecb5b98f-306b-447e-bd1d-8ea9fb623153" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
              <name>${application.name}.Application</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="d603dbfd-3361-4406-b5c0-efc2ac6f33fc" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="691a4d09-54bf-44da-afea-0d8346845d1a" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Application</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Application</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Application</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>2 - Application</display>
        </element>
        <element id="902eee3e-faf8-4c83-beeb-12c4666f6daa" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>3 - Domain</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="4582a694-ff7f-4e89-a0cc-92f48fa70352" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
              <name>${application.name}.Domain</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="d603dbfd-3361-4406-b5c0-efc2ac6f33fc" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="1da56454-5a61-4542-b48d-7e700a3cb016" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Domain</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Domain</display>
                </element>
                <element id="d85234d4-4b6c-4480-a1a4-9cc4dc1a30a7" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Repository.Interface</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Repository.Interface</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Domain</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>3 - Domain</display>
        </element>
        <element id="54b6c149-7282-42ba-a464-b938bba3e0d7" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>4 - Infrastructure</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="86162059-03fa-4897-8292-0cc26a35b3a9" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
              <name>${application.name}.Infrastructure</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="d603dbfd-3361-4406-b5c0-efc2ac6f33fc" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="17137ede-d056-4e3d-8472-df498ee2e608" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Infrastructure</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Infrastructure</display>
                </element>
                <element id="d8c80c6e-089c-4368-ae63-e7a186f17583" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Repository.Implementation</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Repository.Implementation</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Infrastructure</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>4 - Infrastructure</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>