<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>6ab29b31-27af-4f56-a67c-986d82097d63</targetDesignerId>
  <createPackages>
    <package id="8826c4e3-dd7a-4eb5-8d09-0235ac555a4d" typeId="1a824508-4623-45d9-accc-f572091ade5a" type="Domain Package">
      <name>Domain</name>
      <stereotypes />
      <childElements>
        <element id="966e59b5-fd8f-4e09-9fa4-a7041f29ffba" typeId="4d66fecd-e9b8-436f-aa50-c59040ad0879" type="Diagram">
          <name>Default Diagram</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Default Diagram</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>