<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="2a163ff4-f39a-4c62-94ac-20b510ffbcbd" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${application.name}</name>
      <stereotypes />
      <childElements>
        <element id="4c0fdbab-39ea-44f0-8966-0b71e74ef8c4" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>1 - Web</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="9e2292dc-74af-467f-9f44-01dcf33d935a" typeId="FFD54A85-9362-48AC-B646-C93AB9AC63D2" type="ASP.NET Core Web Application">
              <name>${application.name}.Web</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="16d99e3e-7b91-42f8-ae3b-2686edde94b7" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="d0dca12f-5e25-4d61-a55d-b5eee8343c42" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Distribution</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Distribution</display>
                </element>
                <element id="957af493-ebff-45fa-ae5a-eb035dcf4c36" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Startup</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Startup</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Web</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>1 - Web</display>
        </element>
        <element id="dbec6566-3bea-4abd-b166-50bad8144480" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>2 - Infrastructure</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="b3cdd9f6-850f-41fd-97a1-e70e34951636" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
              <name>${application.name}.Infrastructure</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="16d99e3e-7b91-42f8-ae3b-2686edde94b7" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="680e6586-820c-4b23-b46a-77d805d66ab6" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Application</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Application</display>
                </element>
                <element id="6016aff0-fb05-4cf2-b819-254033927bc6" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Infrastructure</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Infrastructure</display>
                </element>
                <element id="384d18d1-fae6-466a-b43b-cb73780662ae" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Repository.Implementation</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Repository.Implementation</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Infrastructure</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>2 - Infrastructure</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>