<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>6ab29b31-27af-4f56-a67c-986d82097d63</targetDesignerId>
  <createPackages>
    <package id="${package.Id}" typeId="1a824508-4623-45d9-accc-f572091ade5a" type="Domain Package">
      <name>${application.name}.Domain.${provider.Name}</name>
      <stereotypes>
        <stereotype stereotypeDefinitionId="8b68020c-6652-484b-85e8-6c33e1d8031f" name="Document Database">
          <addedByDefault>false</addedByDefault>
          <definitionPackageName>Intent.Metadata.DocumentDB</definitionPackageName>
          <definitionPackageId>1c7eab18-9482-4b4e-b61b-1fbd2d2427b6</definitionPackageId>
          <properties>
            <property name="85ea3708-f41a-4cd5-a23c-1126d9ddd4e1" display="Provider" value="${provider.id}" isActive="true" />
          </properties>
        </stereotype>
      </stereotypes>
      <childElements>
        <element id="421a4727-539a-4288-8126-c32f7ad1a26d" typeId="4d66fecd-e9b8-436f-aa50-c59040ad0879" type="Diagram">
          <name>Default ${provider.name} Diagram</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Default ${provider.name} Diagram</display>
          <diagram>
            <targetPackageId>4bc1b8bf-c3a2-47fe-b454-f67c2a66ed7f</targetPackageId>
          </diagram>
        </element>
      </childElements>
      <associations />
      <references />
      <metadata>
        <entry key="initialized" value="true" />
        <entry key="database-paradigm-selected" value="true" />
      </metadata>
    </package>
  </createPackages>
</settings>