<?xml version="1.0" encoding="utf-8"?>
<package id="07318540-7988-4e43-b649-299e98d1d928" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <name>Subscribe.GooglePubSub.TestApplication.Services</name>
  <externalReference>dd8218ab-1583-430b-93e8-bbcc53a9e54e</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="b258d75f-f895-43b9-bb91-6500664716f9" include="Intent.Application.Contracts" isExternal="true">
      <module>Intent.Application.Contracts</module>
    </reference>
    <reference packageId="55856e5d-8217-4c17-8fbb-082ac75baaf5" include="Intent.Application.FluentValidation" isExternal="true">
      <module>Intent.Application.FluentValidation</module>
    </reference>
    <reference packageId="2d61b3f1-47a2-4d3f-b8cf-308a4e3ed4d7" include="Intent.Application.ServiceImplementations" isExternal="true">
      <module>Intent.Application.ServiceImplementations</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="bff48d8d-9246-4ad7-9dda-9703b7139b86" include="Intent.Modelers.Services.DomainInteractions" isExternal="true">
      <module>Intent.Modelers.Services.DomainInteractions</module>
    </reference>
    <reference packageId="014c4929-4a23-47d6-89d1-8dd4cb3a879c" include="Intent.Modelers.Services.EventInteractions" isExternal="true">
      <module>Intent.Modelers.Services.EventInteractions</module>
    </reference>
    <reference packageId="8797dc82-235b-448b-bd82-40c0a76db77c" include="Subscribe.GooglePubSub.TestApplication.Domain" isExternal="true">
      <path>../../Domain/Subscribe.GooglePubSub.TestApplication.Domain/Subscribe.GooglePubSub.TestApplication.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>