<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Module.Mock.EnvironmentVars</packageId>
  <templates />
  <decorators />
  <factoryExtensions>
    <factoryExtension id="Module.Mock.EnvironmentVars.EnvironmentVarsExtension">
      <overrides />
    </factoryExtension>
  </factoryExtensions>
</packageConfigOverride>