<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>f492faed-0665-4513-9853-5a230721786f</targetDesignerId>
  <createPackages>
    <package id="540f4aa0-d1d6-4199-8bba-9757d2652d50" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a" type="User Interface Package">
      <name>${application.name}.UI</name>
      <stereotypes />
      <childElements>
        <element id="4f097d5c-9229-4afb-a310-c4331d222a16" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
          <name>Layout</name>
          <genericTypes />
          <metadata />
          <stereotypes>
            <stereotype stereotypeDefinitionId="66fd9e66-42c7-4ef9-a778-b68e009272b9" name="Folder Options">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.Common.CSharp</definitionPackageName>
              <definitionPackageId>730e1275-0c32-44f7-991a-9619d07ca68d</definitionPackageId>
              <properties>
                <property name="96df2fa6-7361-4e43-9acf-dbcea23b650a" display="Namespace Provider" value="true" isActive="true" />
              </properties>
            </stereotype>
          </stereotypes>
          <childElements>
            <element id="a562c507-f367-435c-8c93-a236dd3f7070" typeId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" type="Layout">
              <name>MainLayout</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements>
                <element id="31ad07d5-873d-4eac-b7a0-50caa709acd2" typeId="11636699-8bad-4693-8c15-8141bd66d04f" type="Layout Body">
                  <name>Body</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Body</display>
                </element>
                <element id="3f20a5fb-d577-4f17-a04e-a77ad3f1e9ce" typeId="a6c3a89e-5932-4ab6-a406-75444f05beee" type="Layout Header">
                  <name>Header</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements>
                    <element id="bbb814d0-6892-40a2-8539-d0de0adb98d0" typeId="d7282bf2-1626-4b8b-9446-1d530527db06" type="Navigation Bar">
                      <name>Navigation Bar</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements>
                        <element id="1bc6d5d7-d57b-4097-bebb-448aab991e78" typeId="11785c84-a457-497c-9c7a-79c43772aa70" type="Navigation Brand Logo">
                          <name>Brand</name>
                          <genericTypes />
                          <metadata />
                          <stereotypes />
                          <childElements>
                            <element id="e97ff299-f4e7-4e05-a8d5-6d7ea557a719" typeId="3c5f8ea8-061a-4e71-826f-59f9281abe71" type="Icon">
                              <name>Logo</name>
                              <genericTypes />
                              <metadata />
                              <stereotypes>
                                <stereotype stereotypeDefinitionId="b71f0a4d-82b4-4685-b58f-a31ea77c45dd" name="Icon Appearance">
                                  <addedByDefault>true</addedByDefault>
                                  <definitionPackageName>Intent.Modelers.UI.Core</definitionPackageName>
                                  <definitionPackageId>a2a95421-3e55-43c7-96ad-355610b43c4d</definitionPackageId>
                                  <properties>
                                    <property name="07f92b63-f47b-4245-9078-ed32749dc82c" display="Name" value="{&quot;source&quot;:&quot;bars&quot;,&quot;type&quot;:2,&quot;absolutePathRelativeTo&quot;:null}" isActive="true" />
                                  </properties>
                                </stereotype>
                              </stereotypes>
                              <childElements />
                              <isMapped>false</isMapped>
                              <isAbstract>false</isAbstract>
                              <display>Logo</display>
                            </element>
                            <element id="985fd193-f79b-4c61-b91e-847471629772" typeId="922150d2-42e6-4805-a002-f9580cdf7f6f" type="Text">
                              <name>Text</name>
                              <genericTypes />
                              <metadata />
                              <stereotypes />
                              <childElements />
                              <isMapped>false</isMapped>
                              <isAbstract>false</isAbstract>
                              <display>Text</display>
                              <value>#####Application</value>
                            </element>
                          </childElements>
                          <isMapped>false</isMapped>
                          <isAbstract>false</isAbstract>
                          <display>Brand</display>
                        </element>
                        <element id="39b249f7-ae57-433e-9db2-08b1f5197213" typeId="adbf2fa8-6833-4c24-960a-31d8a41fd1ed" type="Navigation Item">
                          <name>Home</name>
                          <genericTypes />
                          <metadata />
                          <stereotypes />
                          <childElements />
                          <isMapped>false</isMapped>
                          <isAbstract>false</isAbstract>
                          <display>Home</display>
                          <value />
                        </element>
                      </childElements>
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Navigation Bar</display>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Header</display>
                </element>
                <element id="1cccec0c-8e1d-489b-a74c-1ec02d2b746e" typeId="c505f35f-7148-46a3-a812-d9f53a174490" type="Layout Sider">
                  <name>Sider</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Sider</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>MainLayout</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Layout</display>
        </element>
        <element id="6f15e952-6990-4fa9-9f67-c27d6aff8ff3" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
          <name>Pages</name>
          <genericTypes />
          <metadata />
          <stereotypes>
            <stereotype stereotypeDefinitionId="66fd9e66-42c7-4ef9-a778-b68e009272b9" name="Folder Options">
              <addedByDefault>true</addedByDefault>
              <definitionPackageName>Intent.Common.CSharp</definitionPackageName>
              <definitionPackageId>730e1275-0c32-44f7-991a-9619d07ca68d</definitionPackageId>
              <properties>
                <property name="96df2fa6-7361-4e43-9acf-dbcea23b650a" display="Namespace Provider" value="true" isActive="true" />
              </properties>
            </stereotype>
          </stereotypes>
          <childElements>
            <element id="fb620d93-23a7-4a7c-b7a4-a6e45839d64d" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
              <name>Home</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="ea4adc09-8978-4ede-ba5f-265debb2b60c" name="Page">
                  <addedByDefault>false</addedByDefault>
                  <definitionPackageName>Intent.Modelers.UI</definitionPackageName>
                  <definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
                  <properties>
                    <property name="9dff9df1-a993-4bf6-9aa7-c16811142228" display="Route" value="/" isActive="true" />
                    <property name="0a8627ba-ec45-4023-9c36-b0999f43e982" display="Title" value="Home" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="4cd6c2f9-9d07-47f5-94c5-cb49410f1ccb" typeId="624513a6-cba8-4dde-8ebe-6b19f00f0364" type="Component View">
                  <name>[view]</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements>
                    <element id="72a6938d-d404-493f-aadd-d2b231fabdb1" typeId="922150d2-42e6-4805-a002-f9580cdf7f6f" type="Text">
                      <name>Head</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Head</display>
                      <value>###Hello, world!</value>
                    </element>
                    <element id="c2ebf3f0-a5be-4e70-82d7-baffdd4abd1e" typeId="922150d2-42e6-4805-a002-f9580cdf7f6f" type="Text">
                      <name>Text</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Text</display>
                      <value>Welcome to your new app, powered by .NET 8!</value>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>[view]</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>Home</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Pages</display>
        </element>
      </childElements>
      <associations>
        <association id="19f142a9-239c-4971-9728-1833092ad7e9">
          <type>Navigation</type>
          <typeId>6d2b2070-c1cb-4cd2-88b4-4e5f8414bd9e</typeId>
          <sourceEnd id="19a582ae-e900-43a4-b000-73705d805769">
            <type>Navigation Source End</type>
            <typeId>97a3de8a-c9bf-4cf2-bc0a-b8692b02211b</typeId>
            <display>: MainLayout</display>
            <typeReference>
              <typeId>a562c507-f367-435c-8c93-a236dd3f7070</typeId>
              <isNavigable>false</isNavigable>
              <isNullable>false</isNullable>
              <isCollection>false</isCollection>
              <typeName>MainLayout</typeName>
            </typeReference>
            <metadata />
          </sourceEnd>
          <targetEnd id="19f142a9-239c-4971-9728-1833092ad7e9">
            <type>Navigation Target End</type>
            <typeId>2b191288-ecae-4743-b069-cbdd927ef349</typeId>
            <name>NavigateTo</name>
            <display>NavigateTo: Home</display>
            <typeReference>
              <typeId>fb620d93-23a7-4a7c-b7a4-a6e45839d64d</typeId>
              <isNavigable>true</isNavigable>
              <isNullable>false</isNullable>
              <isCollection>false</isCollection>
              <typeName>Home</typeName>
            </typeReference>
            <metadata />
          </targetEnd>
        </association>
      </associations>
      <references />
    </package>
  </createPackages>
</settings>