<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Application.Security.BearerToken.Interop.IdentityServer4" version="3.0.0" />
  <module moduleId="Intent.Application.Contracts" version="3.0.1" />
  <module moduleId="Intent.Application.Dtos" version="3.0.1" />
  <module moduleId="Intent.Application.Security.BearerToken" version="3.0.0" />
  <module moduleId="Intent.Application.ServiceImplementations" version="3.0.1" />
  <module moduleId="Intent.AspNetCore" version="3.0.3" />
  <module moduleId="Intent.AspNetCore.Controllers" version="3.0.4" />
  <module moduleId="Intent.AspNetCore.Controllers.Interop.Contracts" version="3.0.2" />
  <module moduleId="Intent.AspNetCore.Swashbuckle" version="3.0.1" />
  <module moduleId="Intent.Common" version="3.0.4" />
  <module moduleId="Intent.Common.CSharp" version="3.0.5" />
  <module moduleId="Intent.Common.Types" version="3.0.2" />
  <module moduleId="Intent.DependencyInjection.EntityFrameworkCore" version="3.0.3" />
  <module moduleId="Intent.Entities" version="3.0.4" />
  <module moduleId="Intent.Entities.Keys" version="3.0.1" />
  <module moduleId="Intent.EntityFrameworkCore" version="3.0.3" />
  <module moduleId="Intent.IdentityServer4.Identity.EF" version="3.0.0" />
  <module moduleId="Intent.IdentityServer4.SecureTokenServer" version="3.0.1" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="3.0.1" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.0.1" />
  <module moduleId="Intent.Metadata.WebApi" version="3.0.2" />
  <module moduleId="Intent.Modelers.Domain" version="3.0.2" />
  <module moduleId="Intent.Modelers.Services" version="3.0.1" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="3.0.1" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.0.4" />
</modules>