<#@ template language="C#" inherits="IntentTemplateBase<object>" #>
<#@ import namespace="Intent.Modules.Common.Templates" #>
{
    "version": "2.0",
    "logging": {
        "applicationInsights": {
            "samplingSettings": {
                "isEnabled": true,
                "excludedTypes": "Request"
            }
        }
    }
}