<?xml version="1.0" encoding="utf-8"?>
<package id="65867fb5-0e9d-432e-89d2-57578fd15385" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <name>Application.Identity.MSAL.TestApplication.Services</name>
  <externalReference>dd8218ab-1583-430b-93e8-bbcc53a9e54e</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="1f6302dc-0386-40dd-9faf-ba1b3c6c6fe2" include="Application.Identity.MSAL.TestApplication.Domain" isExternal="true">
      <path>../../Domain/Application.Identity.MSAL.TestApplication.Domain/Application.Identity.MSAL.TestApplication.Domain.pkg.config</path>
    </reference>
    <reference packageId="b258d75f-f895-43b9-bb91-6500664716f9" include="Intent.Application.Contracts" isExternal="true">
      <module>Intent.Application.Contracts</module>
    </reference>
    <reference packageId="55856e5d-8217-4c17-8fbb-082ac75baaf5" include="Intent.Application.FluentValidation" isExternal="true">
      <module>Intent.Application.FluentValidation</module>
    </reference>
    <reference packageId="2d61b3f1-47a2-4d3f-b8cf-308a4e3ed4d7" include="Intent.Application.ServiceImplementations" isExternal="true">
      <module>Intent.Application.ServiceImplementations</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="bff48d8d-9246-4ad7-9dda-9703b7139b86" include="Intent.Modelers.Services.DomainInteractions" isExternal="true">
      <module>Intent.Modelers.Services.DomainInteractions</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>