<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="974f936a-42ea-4bfd-8b16-2191c5f17b33" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${application.name}</name>
      <stereotypes />
      <childElements>
        <element id="65b1391f-bec3-405a-834d-7a9c768f5c71" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>1 - Api</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="bbfd519c-edf6-4c6b-be5d-13364e63f303" typeId="8AF747CF-58F0-449C-8B95-46080FEFC8C0" type="ASP.NET Web Application (.NET Framework)">
              <name>${application.name}.Api</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="f3fcc35a-4bb2-44e7-aca2-d721e047a4c9" name=".NET Framework Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="117cf9ee-04da-4f1c-915a-b62c61e2c558" display="Target Framework" value="13b3a401-3f7d-491a-83c2-a160c7035bf1" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="1c93f665-34bc-49c0-89a9-35b02bfe5180" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Distribution.WebApi</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Distribution.WebApi</display>
                </element>
                <element id="26b18e68-e8eb-4350-aaab-01e4bfadcecb" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>FrontEnd</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>FrontEnd</display>
                </element>
                <element id="055576a5-9b0f-467a-82ec-4493ce79d975" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Startup</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Startup</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Api</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>1 - Api</display>
        </element>
        <element id="27ae48e6-9402-439d-a222-431719f75c14" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>2 - Application</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="6f2f5c46-cb74-4db0-8e00-669188ba5559" typeId="0FEBBF41-7C8E-4F98-85A5-F8B5236CFD7D" type="Class Library (.NET Framework)">
              <name>${application.name}.Application</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="f3fcc35a-4bb2-44e7-aca2-d721e047a4c9" name=".NET Framework Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="117cf9ee-04da-4f1c-915a-b62c61e2c558" display="Target Framework" value="13b3a401-3f7d-491a-83c2-a160c7035bf1" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="7dd1184f-166f-420a-b9a3-3c0e8a977d82" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Application</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Application</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Application</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>2 - Application</display>
        </element>
        <element id="7c528f95-9e28-4382-9a87-5e6d3b9345bc" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>3 - Domain</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="855ef03b-1bb0-4243-bd26-bf22d9a52158" typeId="0FEBBF41-7C8E-4F98-85A5-F8B5236CFD7D" type="Class Library (.NET Framework)">
              <name>${application.name}.Domain</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="f3fcc35a-4bb2-44e7-aca2-d721e047a4c9" name=".NET Framework Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="117cf9ee-04da-4f1c-915a-b62c61e2c558" display="Target Framework" value="13b3a401-3f7d-491a-83c2-a160c7035bf1" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="641d0c38-8452-4488-88ec-baaae81df91c" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Domain</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Domain</display>
                </element>
                <element id="209adfcd-e965-4b28-a9be-beacebf56df3" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Repository.Interface</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Repository.Interface</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Domain</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>3 - Domain</display>
        </element>
        <element id="5e22e867-4b82-4b80-9df9-e34ddfa60f90" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>4 - Infrastructure</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="5cf1caae-9024-4b8e-bc11-7e84adc84ffe" typeId="0FEBBF41-7C8E-4F98-85A5-F8B5236CFD7D" type="Class Library (.NET Framework)">
              <name>${application.name}.Infrastructure</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="f3fcc35a-4bb2-44e7-aca2-d721e047a4c9" name=".NET Framework Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="117cf9ee-04da-4f1c-915a-b62c61e2c558" display="Target Framework" value="13b3a401-3f7d-491a-83c2-a160c7035bf1" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="4311bff7-2a56-4fab-9636-d70270aef438" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Infrastructure</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Infrastructure</display>
                </element>
                <element id="b69cd40e-51c1-491b-9e19-e5cdd5092f4e" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Repository.Implementation</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Repository.Implementation</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Infrastructure</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>4 - Infrastructure</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>