<?xml version="1.0" encoding="utf-8"?>
<settings>
	<targetDesignerId>f492faed-0665-4513-9853-5a230721786f</targetDesignerId>
	<createPackages>
		<package id="540f4aa0-d1d6-4199-8bba-9757d2652d50" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a" type="User Interface Package">
			<name>${application.name}.UI</name>
			<stereotypes />
			<childElements>
				<element id="b83a32db-8c13-4013-94bc-781b07b2a0b6" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>Layout</name>
					<genericTypes />
					<metadata />
					<stereotypes>
						<stereotype stereotypeDefinitionId="66fd9e66-42c7-4ef9-a778-b68e009272b9" name="Folder Options">
							<addedByDefault>true</addedByDefault>
							<definitionPackageName>Intent.Common.CSharp</definitionPackageName>
							<definitionPackageId>730e1275-0c32-44f7-991a-9619d07ca68d</definitionPackageId>
							<properties>
								<property name="96df2fa6-7361-4e43-9acf-dbcea23b650a" display="Namespace Provider" value="true" isActive="true" />
							</properties>
						</stereotype>
					</stereotypes>
					<childElements>
						<element id="a178d0e7-8bc2-47a2-9724-fc672ce37c13" typeId="776a9393-6b23-4a8c-8937-fd7e833fa0ef" type="Layout">
							<name>MainLayout</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements>
								<element id="3d941ba4-404d-4233-9465-816e87cb5b25" typeId="11636699-8bad-4693-8c15-8141bd66d04f" type="Layout Body">
									<name>Body</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Body</display>
								</element>
								<element id="a7c89270-9de3-40c7-942e-483aea25806f" typeId="a6c3a89e-5932-4ab6-a406-75444f05beee" type="Layout Header">
									<name>Header</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Header</display>
								</element>
								<element id="3abb8e62-1ef0-41ff-8a0a-fb4333322e31" typeId="c505f35f-7148-46a3-a812-d9f53a174490" type="Layout Sider">
									<name>Sider</name>
									<genericTypes />
									<metadata />
									<stereotypes />
									<childElements />
									<isMapped>false</isMapped>
									<isAbstract>false</isAbstract>
									<display>Sider</display>
								</element>
							</childElements>
							<isMapped>false</isMapped>
							<mappings>
								<mapping type="View Binding" typeId="c33f86ad-423a-4a6f-a80c-a3206eafe5cd">
									<source applicationId="92ee89ba-5c27-445d-9418-ee24e0cd20f6" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="a178d0e7-8bc2-47a2-9724-fc672ce37c13" location="[Blazor.Components.MudBlazor.Metadata].[User Interface].[MainLayout]" />
									<target applicationId="92ee89ba-5c27-445d-9418-ee24e0cd20f6" designerId="f492faed-0665-4513-9853-5a230721786f" elementId="a178d0e7-8bc2-47a2-9724-fc672ce37c13" location="[Blazor.Components.MudBlazor.Metadata].[User Interface].[MainLayout]" />
									<mappedEnds />
								</mapping>
							</mappings>
							<isAbstract>false</isAbstract>
							<display>MainLayout</display>
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Layout</display>
				</element>
				<element id="7c76fa0c-59ee-4111-9166-68faafc2dcf7" typeId="4d95d53a-8855-4f35-aa82-e312643f5c5f" type="Folder">
					<name>Pages</name>
					<genericTypes />
					<metadata />
					<stereotypes>
						<stereotype stereotypeDefinitionId="66fd9e66-42c7-4ef9-a778-b68e009272b9" name="Folder Options">
							<addedByDefault>true</addedByDefault>
							<definitionPackageName>Intent.Common.CSharp</definitionPackageName>
							<definitionPackageId>730e1275-0c32-44f7-991a-9619d07ca68d</definitionPackageId>
							<properties>
								<property name="96df2fa6-7361-4e43-9acf-dbcea23b650a" display="Namespace Provider" value="true" isActive="true" />
							</properties>
						</stereotype>
					</stereotypes>
					<childElements>
						<element id="5cf35899-5d12-4e0c-8642-ba734abbf14d" typeId="b1c481e1-e91e-4c29-9817-00ab9cad4b6b" type="Component">
							<name>Home</name>
							<genericTypes />
							<metadata />
							<stereotypes>
								<stereotype stereotypeDefinitionId="ea4adc09-8978-4ede-ba5f-265debb2b60c" name="Page">
									<addedByDefault>false</addedByDefault>
									<definitionPackageName>Intent.Modelers.UI</definitionPackageName>
									<definitionPackageId>5c4628ec-679e-4f3d-afda-137c978deae0</definitionPackageId>
									<properties>
										<property name="9dff9df1-a993-4bf6-9aa7-c16811142228" display="Route" value="/" isActive="true" />
										<property name="0a8627ba-ec45-4023-9c36-b0999f43e982" display="Title" value="Home" isActive="true" />
									</properties>
								</stereotype>
							</stereotypes>
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Home</display>
						</element>
						<element id="752de66b-29a3-4dc5-b31a-c4c143b682d0" typeId="4912c89a-77eb-497e-a3f4-7408b6a20886" type="Diagram">
							<name>Default Diagram</name>
							<genericTypes />
							<metadata />
							<stereotypes />
							<childElements />
							<isMapped>false</isMapped>
							<isAbstract>false</isAbstract>
							<display>Default Diagram</display>
							<diagram />
						</element>
					</childElements>
					<isMapped>false</isMapped>
					<isAbstract>false</isAbstract>
					<display>Pages</display>
				</element>
			</childElements>
			<associations>
				<association id="b2f6769e-5b0a-4034-ba4a-fab33a6efdf5">
					<type>Navigation</type>
					<typeId>6d2b2070-c1cb-4cd2-88b4-4e5f8414bd9e</typeId>
					<sourceEnd id="c49704b8-b494-40bd-b656-b2e20561e5a3">
						<type>Navigation Source End</type>
						<typeId>97a3de8a-c9bf-4cf2-bc0a-b8692b02211b</typeId>
						<display>: MainLayout</display>
						<typeReference>
							<typeId>a178d0e7-8bc2-47a2-9724-fc672ce37c13</typeId>
							<isNavigable>false</isNavigable>
							<isNullable>false</isNullable>
							<isCollection>false</isCollection>
							<typeName>MainLayout</typeName>
						</typeReference>
						<metadata />
					</sourceEnd>
					<targetEnd id="b2f6769e-5b0a-4034-ba4a-fab33a6efdf5">
						<type>Navigation Target End</type>
						<typeId>2b191288-ecae-4743-b069-cbdd927ef349</typeId>
						<name>NavigateToHome</name>
						<display>[navigate] Home</display>
						<typeReference>
							<typeId>5cf35899-5d12-4e0c-8642-ba734abbf14d</typeId>
							<isNavigable>true</isNavigable>
							<isNullable>false</isNullable>
							<isCollection>false</isCollection>
							<typeName>Home</typeName>
						</typeReference>
						<metadata />
					</targetEnd>
				</association>
			</associations>
			<references />
			<metadata />
		</package>
	</createPackages>
</settings>