<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="e177fd07-ad3d-4cdf-abaa-1e5fefce17e5" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${application.name}</name>
      <stereotypes>
        <stereotype stereotypeDefinitionId="90085088-b29b-4386-b87e-f7f62c76c5de" name="Visual Studio Solution Options">
          <addedByDefault>true</addedByDefault>
          <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
          <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
          <properties>
            <property name="49e78350-c77b-4f83-88d8-5841e6cb3ab9" display="Manage Package Versions Centrally" value="false" isActive="true" />
          </properties>
        </stereotype>
      </stereotypes>
      <childElements>
        <element id="c2163b22-18c4-4f76-8f84-4736b53d1c56" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>0 - Frontend</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="d707ee61-4652-4a0a-8f80-f273363b33cf" typeId="8e9e6693-2888-4f48-a0d6-0f163baab740" type="C# Project (.NET)">
              <name>${application.Name}.Client</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="a490a23f-5397-40a1-a3cb-6da7e0b467c0" name=".NET Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="1f0cdbc4-7a18-40a5-aeca-90452cce4fcf" display="SDK" value="Microsoft.NET.Sdk.BlazorWebAssembly" isActive="true" />
                    <property name="252d4572-8255-4e87-9bd9-ede6220f44c1" display="Use top-level statements" value="false" isActive="false" />
                    <property name="8f218e6c-9115-42d1-ad23-9b0403bfbcb4" display="Use minimal hosting model" value="false" isActive="false" />
                    <property name="6a7d81d7-351e-4cdf-a596-142a74507455" display="Output Type" isActive="true" />
                    <property name="9da51e12-529a-4592-9119-491d7bc9d5d5" display="Azure Functions Version" isActive="true" />
                    <property name="e1cab7e9-28f1-4e82-8c02-bfb9e460d9e0" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="d53ab03c-90cf-4b6a-b733-73b6983ab603" display="Target Framework" value="f8b1618d-1e64-4c2c-9787-e0725c3633a1" isActive="true" />
                    <property name="b9685057-b337-42d8-9536-d0185ea69b73" display="Target Frameworks" value="" isActive="false" />
                    <property name="8ee6e435-e556-439c-9712-a3f287972813" display="Runtime Identifiers" isActive="true" />
                    <property name="c9fc7052-9557-4485-a759-fa33363472b3" display="Configurations" isActive="true" />
                    <property name="c27f8813-bee4-4289-81e5-570e755a8f30" display="Root Namespace" isActive="true" />
                    <property name="a6660df2-6016-40c6-8453-8e5993f407c9" display="User Secrets Id" isActive="true" />
                    <property name="16ac8254-c83f-42d9-98bb-db9c0532bce6" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="94e630db-ee2b-4d4f-a423-19d3469178fa" display="Generate Documentation File" isActive="true" />
                    <property name="d6c50001-ac9d-4819-94a9-8b6aa7f02e47" display="Assembly Name" isActive="true" />
                    <property name="7cc174e3-ca2f-4f79-bb52-c7a3a4a7e5eb" display="Implicit Usings" value="enable" isActive="true" />
                    <property name="575dbd4e-f038-4c92-a411-63c1e3e0d8d7" display="Suppress Warnings" value="$(NoWarn)" isActive="true" />
                    <property name="6de4cc6f-2476-461c-9be9-b6ac0592a827" display="Manage Package Versions Centrally" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="false" />
                    <property name="68a31b13-148b-45da-a6ea-5a6883f86438" display="Nullable" value="enable" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="6008721e-d891-44af-a711-4159af9f4c10" typeId="3407a825-1331-4f3f-89a4-901903ed97ce" type="Folder">
                  <name>Components</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="61132551-825d-4c6e-b9f1-0f95249d08d4" name="Folder Options">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                      <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                      <properties>
                        <property name="4bfbefd0-d22e-4ca0-9723-92ae273feca4" display="Namespace Provider" value="true" isActive="true" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Components</display>
                </element>
                <element id="df40c737-bb70-4e6e-85d4-5ef2d68b2c28" typeId="3407a825-1331-4f3f-89a4-901903ed97ce" type="Folder">
                  <name>HttpClients</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="61132551-825d-4c6e-b9f1-0f95249d08d4" name="Folder Options">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                      <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                      <properties>
                        <property name="4bfbefd0-d22e-4ca0-9723-92ae273feca4" display="Namespace Provider" value="true" isActive="true" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements>
                    <element id="536aa766-9764-4c16-81ae-f5fd176755b2" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                      <name>Blazor.HttpClient</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Blazor.HttpClient</display>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>HttpClients</display>
                </element>
                <element id="890a2950-fab7-4823-8a84-8f7012e5d9e8" typeId="3407a825-1331-4f3f-89a4-901903ed97ce" type="Folder">
                  <name>Layout</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="61132551-825d-4c6e-b9f1-0f95249d08d4" name="Folder Options">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                      <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                      <properties>
                        <property name="4bfbefd0-d22e-4ca0-9723-92ae273feca4" display="Namespace Provider" value="true" isActive="true" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Layout</display>
                </element>
                <element id="ce623b71-0d29-435b-a12d-78884b0280ea" typeId="3407a825-1331-4f3f-89a4-901903ed97ce" type="Folder">
                  <name>Pages</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="61132551-825d-4c6e-b9f1-0f95249d08d4" name="Folder Options">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                      <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                      <properties>
                        <property name="4bfbefd0-d22e-4ca0-9723-92ae273feca4" display="Namespace Provider" value="true" isActive="true" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Pages</display>
                </element>
                <element id="8d40194b-a082-4801-82ae-88bc11af19d7" typeId="3407a825-1331-4f3f-89a4-901903ed97ce" type="Folder">
                  <name>wwwroot</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="61132551-825d-4c6e-b9f1-0f95249d08d4" name="Folder Options">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                      <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                      <properties>
                        <property name="4bfbefd0-d22e-4ca0-9723-92ae273feca4" display="Namespace Provider" value="true" isActive="true" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>wwwroot</display>
                </element>
                <element id="93bf150c-10a3-499a-a45d-e847347ee016" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Blazor</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Blazor</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.Name}.Client</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>0 - Frontend</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>