<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Common" version="3.7.6" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.8.10" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.1.1" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.9.3" includeAssets="designers" supportedClientVersions="[4.4.0-a, 5.0.0-a)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.8.9" includeAssets="designers" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
</modules>