<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>6ab29b31-27af-4f56-a67c-986d82097d63</targetDesignerId>
  <createPackages>
    <package id="b78c441a-6dab-482c-bc53-0870f8f80477" typeId="1a824508-4623-45d9-accc-f572091ade5a" type="Domain Package">
      <name>${application.name}.Domain</name>
      <stereotypes />
      <childElements>
        <element id="1b7fb00b-5ce4-45b8-876c-8f0f1874fdbb" typeId="4d66fecd-e9b8-436f-aa50-c59040ad0879" type="Diagram">
          <name>Default Diagram</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Default Diagram</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>