<?xml version="1.0" encoding="utf-8"?>
<package id="a93a8ced-5394-4d38-a3c2-4d92b5c6769a" type="User Interface Package" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a">
  <applicationId>e4e0d6f0-f513-4b44-867c-4bbb9c024241</applicationId>
  <designerId>f492faed-0665-4513-9853-5a230721786f</designerId>
  <name>Blazor.InteractiveServer.AspNetCoreIdentity.UI</name>
  <externalReference>540f4aa0-d1d6-4199-8bba-9757d2652d50</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="3ac5ff1e-5fc9-46a2-95e5-2d9ca579e484" include="Intent.Blazor" isExternal="true">
      <module>Intent.Blazor</module>
    </reference>
    <reference packageId="b9d38f7c-7a8d-4007-b33d-7f386ccf119a" include="Intent.Blazor.Authentication" isExternal="true">
      <module>Intent.Blazor.Authentication</module>
    </reference>
    <reference packageId="47e5f8d0-3892-4408-b6f9-88bf8591af2d" include="Intent.Blazor.Components.MudBlazor" isExternal="true">
      <module>Intent.Blazor.Components.MudBlazor</module>
    </reference>
    <reference packageId="90eb0073-c577-4253-9e76-0039622affa9" include="Intent.Blazor.FluentValidation" isExternal="true">
      <module>Intent.Blazor.FluentValidation</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="5c4628ec-679e-4f3d-afda-137c978deae0" include="Intent.Modelers.UI" isExternal="true">
      <module>Intent.Modelers.UI</module>
    </reference>
    <reference packageId="a2a95421-3e55-43c7-96ad-355610b43c4d" include="Intent.Modelers.UI.Core" isExternal="true">
      <module>Intent.Modelers.UI.Core</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>