<?xml version="1.0" encoding="utf-8"?>
<package id="bc4d348c-1737-4bd1-bf34-980f91e9b5a7" type="User Interface Package" typeId="911c35b4-4ba3-404c-a0c6-e5258e53333a">
  <applicationId>92ee89ba-5c27-445d-9418-ee24e0cd20f6</applicationId>
  <designerId>f492faed-0665-4513-9853-5a230721786f</designerId>
  <name>Webinar.Blazor.UI</name>
  <externalReference>e67b038a-c044-4163-886a-ee36d8734018</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="47e5f8d0-3892-4408-b6f9-88bf8591af2d" include="Intent.Blazor.Components.MudBlazor" isExternal="true">
      <module>Intent.Blazor.Components.MudBlazor</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="5c4628ec-679e-4f3d-afda-137c978deae0" include="Intent.Modelers.UI" isExternal="true">
      <module>Intent.Modelers.UI</module>
    </reference>
    <reference packageId="a2a95421-3e55-43c7-96ad-355610b43c4d" include="Intent.Modelers.UI.Core" isExternal="true">
      <module>Intent.Modelers.UI.Core</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>