<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
  <createPackages>
    <package id="274471f9-8690-4fb4-a2bf-92e312154767" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
      <name>${application.name}.Services</name>
      <stereotypes />
      <childElements />
      <associations />
      <references>
        <reference>
          <packageId>d2f07a81-57e2-4c19-837b-a3568fbb48db</packageId>
          <include>${application.name}.Domain</include>
          <isExternal>true</isExternal>
          <relativePath>../../Domain/${application.name}.Domain/${application.name}.Domain.pkg.config</relativePath>
        </reference>
      </references>
    </package>
  </createPackages>
</settings>