<?xml version="1.0" encoding="utf-8"?>
<package id="ee67d54f-5862-4801-86d0-2430f3f16e6a" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <name>Subscribe.MassTransit.OutboxMemory.Services</name>
  <externalReference>51735c16-6ff9-4f56-bcfc-834d8fbd7b63</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="b258d75f-f895-43b9-bb91-6500664716f9" include="Intent.Application.Contracts" isExternal="true">
      <module>Intent.Application.Contracts</module>
    </reference>
    <reference packageId="55856e5d-8217-4c17-8fbb-082ac75baaf5" include="Intent.Application.FluentValidation" isExternal="true">
      <module>Intent.Application.FluentValidation</module>
    </reference>
    <reference packageId="e92495db-1b26-4389-bf06-cc1b375520b1" include="Intent.Application.MediatR" isExternal="true">
      <module>Intent.Application.MediatR</module>
    </reference>
    <reference packageId="4c21efb8-ec70-4d57-8ea4-d6e9f7e6b9f6" include="Intent.Application.MediatR.CRUD" isExternal="true">
      <module>Intent.Application.MediatR.CRUD</module>
    </reference>
    <reference packageId="19ac3196-c353-44e0-ba44-2e1930175b1f" include="Intent.Application.MediatR.FluentValidation" isExternal="true">
      <module>Intent.Application.MediatR.FluentValidation</module>
    </reference>
    <reference packageId="2d61b3f1-47a2-4d3f-b8cf-308a4e3ed4d7" include="Intent.Application.ServiceImplementations" isExternal="true">
      <module>Intent.Application.ServiceImplementations</module>
    </reference>
    <reference packageId="c150a471-8907-4bc4-8be8-f63c8a782e69" include="Intent.AspNetCore.Controllers.Dispatch.MediatR" isExternal="true">
      <module>Intent.AspNetCore.Controllers.Dispatch.MediatR</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="6502ee82-f515-4007-9635-bade3eb88e72" include="Intent.Eventing.MassTransit" isExternal="true">
      <module>Intent.Eventing.MassTransit</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="45fb22e9-f493-4de5-9fe0-845f783aa9d4" include="Intent.Modelers.Services.CQRS" isExternal="true">
      <module>Intent.Modelers.Services.CQRS</module>
    </reference>
    <reference packageId="bff48d8d-9246-4ad7-9dda-9703b7139b86" include="Intent.Modelers.Services.DomainInteractions" isExternal="true">
      <module>Intent.Modelers.Services.DomainInteractions</module>
    </reference>
    <reference packageId="014c4929-4a23-47d6-89d1-8dd4cb3a879c" include="Intent.Modelers.Services.EventInteractions" isExternal="true">
      <module>Intent.Modelers.Services.EventInteractions</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="ba5cb2e6-2db1-4a20-b4fd-7d07dc3bd392" include="Subscribe.MassTransit.OutboxMemory.Domain" isExternal="true">
      <path>../../Domain/Subscribe.MassTransit.OutboxMemory.Domain/Subscribe.MassTransit.OutboxMemory.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>