<?xml version="1.0" encoding="utf-8"?>
<package id="09bb97f8-11c3-4741-8670-07890e9bc96f" type="Service Proxies Package" typeId="46ef9b5e-e38c-48f2-8516-ea48c310ce23">
  <applicationId>9e282f05-7636-4f1f-8d76-c849d13508c3</applicationId>
  <designerId>2799aa83-e256-46fe-9589-b96f7d6b09f7</designerId>
  <name>CleanArchitecture.Dapr.InvocationClient.ServiceProxies</name>
  <externalReference>2801dde9-1480-48e2-96e0-ac905638a51b</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="371be07c-ba65-4c08-aff6-8c1a9aa1ba4f" include="Intent.Common.UnitOfWork" isExternal="true">
      <module>Intent.Common.UnitOfWork</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>