<?xml version="1.0" encoding="utf-8"?>
<package id="3154463a-f872-42f1-814b-8d826eb9d1bf" type="Root Location Package" typeId="fbca4a65-b376-482c-a23d-32da9908cac9">
  <applicationId>bf89d223-9a4f-49fd-9a56-c86ba1587aaa</applicationId>
  <designerId>27916ede-58c6-4356-87b1-0b0628d1e2a7</designerId>
  <name>root</name>
  <externalReference>b6713045-83a4-47d5-9174-b5c4e4f5458b</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>