<?xml version="1.0" encoding="utf-8"?>
<package id="956d196f-c8fa-41d3-9d41-99a80a719d87" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <applicationId>08faffbb-9f31-42d2-bbc4-cdf37b00cc77</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>Scalar.NET10.OAuth2Implicit.Services</name>
  <externalReference>51735c16-6ff9-4f56-bcfc-834d8fbd7b63</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="b258d75f-f895-43b9-bb91-6500664716f9" include="Intent.Application.Contracts" isExternal="true">
      <module>Intent.Application.Contracts</module>
    </reference>
    <reference packageId="2d61b3f1-47a2-4d3f-b8cf-308a4e3ed4d7" include="Intent.Application.ServiceImplementations" isExternal="true">
      <module>Intent.Application.ServiceImplementations</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="a6fa1088-0064-43e3-a7fc-36c97b2b9285" include="Intent.Metadata.Security" isExternal="true">
      <module>Intent.Metadata.Security</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="4cefac6a-a743-4c22-a26d-1a555f90b99d" include="Scalar.NET10.OAuth2Implicit.Domain" isExternal="true">
      <path>../../Domain/Scalar.NET10.OAuth2Implicit.Domain/Scalar.NET10.OAuth2Implicit.Domain.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>