<?xml version="1.0" encoding="utf-8"?>
<package id="d48f9349-6f20-471c-90bf-fd4fb1ad2973" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <applicationId>5385b8fc-6bf9-4b2c-8268-12844932228c</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>MassTransit.RetryPolicy.Incremental.Services</name>
  <externalReference>4fb86583-52f8-4b89-bd7b-9807e8fae8fa</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="6502ee82-f515-4007-9635-bade3eb88e72" include="Intent.Eventing.MassTransit" isExternal="true">
      <module>Intent.Eventing.MassTransit</module>
    </reference>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="45fb22e9-f493-4de5-9fe0-845f783aa9d4" include="Intent.Modelers.Services.CQRS" isExternal="true">
      <module>Intent.Modelers.Services.CQRS</module>
    </reference>
    <reference packageId="014c4929-4a23-47d6-89d1-8dd4cb3a879c" include="Intent.Modelers.Services.EventInteractions" isExternal="true">
      <module>Intent.Modelers.Services.EventInteractions</module>
    </reference>
    <reference packageId="2f1a1f55-34ad-4a4a-835b-d6fc1b026681" include="MassTransit.RetryPolicy.Incremental.Eventing.Messages" isExternal="true">
      <path>../MassTransit.RetryPolicy.Incremental.Eventing.Messages/MassTransit.RetryPolicy.Incremental.Eventing.Messages.pkg.config</path>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>