<?xml version="1.0" encoding="utf-8"?>
<package id="82da4641-8c8a-4e66-8a68-cea9ed0651a6" type="Eventing Package" typeId="df96d537-7bb5-4c49-811f-973fa6e95beb">
  <name>Publish.CleanArch.MassTransit.OutboxNone.TestApplication.Eventing.Messages</name>
  <externalReference>7cfffe8e-be9a-411e-bb66-853b2b96b908</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="6502ee82-f515-4007-9635-bade3eb88e72" include="Intent.Eventing.MassTransit" isExternal="true">
      <module>Intent.Eventing.MassTransit</module>
    </reference>
    <reference packageId="73db16ce-8cc2-4b89-8348-9a8bda3fda4c" include="Intent.Modelers.Eventing" isExternal="true">
      <module>Intent.Modelers.Eventing</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>