@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@layout Blazor.InteractiveServer.AspNetCoreIdentity.Components.Layout.MainLayout
@if(HttpContext is null)
{
<p>Loading...</p>
}
else
{
@Body
}
@code {

    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
