<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.Application.DependencyInjection</packageId>
  <templates>
    <template id="Application.DependencyInjection.DependencyInjection">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators />
  <factoryExtensions />
</packageConfigOverride>