<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.AspNetCore" version="6.0.1" />
  <module moduleId="Intent.Blazor.Server" version="1.0.1-pre.0" />
  <module moduleId="Intent.Common" version="3.5.3-pre.1" />
  <module moduleId="Intent.Common.CSharp" version="3.5.2-pre.1" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.5.1-pre.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.6.1-pre.3" />
</modules>