<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Application.AutoMapper" version="5.0.0" />
  <module moduleId="Intent.Application.Contracts" version="5.0.3" />
  <module moduleId="Intent.Application.DependencyInjection" version="4.0.7-beta.0" />
  <module moduleId="Intent.Application.DependencyInjection.AutoMapper" version="4.0.0" />
  <module moduleId="Intent.Application.DependencyInjection.MediatR" version="3.5.8" />
  <module moduleId="Intent.Application.Dtos" version="4.1.1" />
  <module moduleId="Intent.Application.Dtos.AutoMapper" version="4.0.7" />
  <module moduleId="Intent.Application.Dtos.Pagination" version="4.0.7" />
  <module moduleId="Intent.Application.FluentValidation" version="3.8.5" />
  <module moduleId="Intent.Application.FluentValidation.Dtos" version="3.7.3-pre.0" />
  <module moduleId="Intent.Application.Identity" version="3.5.1" />
  <module moduleId="Intent.Application.MediatR" version="4.2.0-beta.3" />
  <module moduleId="Intent.Application.MediatR.Behaviours" version="4.2.7-pre.1" />
  <module moduleId="Intent.Application.MediatR.CRUD" version="6.0.0-beta.5" />
  <module moduleId="Intent.Application.MediatR.FluentValidation" version="4.4.4-pre.0" />
  <module moduleId="Intent.Application.ServiceImplementations" version="4.5.0-beta.1" />
  <module moduleId="Intent.Application.ServiceImplementations.Conventions.CRUD" version="5.0.0-beta.6" />
  <module moduleId="Intent.AspNetCore" version="6.0.0-beta.1" />
  <module moduleId="Intent.AspNetCore.Controllers" version="6.0.0-beta.3" />
  <module moduleId="Intent.AspNetCore.Controllers.Dispatch.MediatR" version="5.4.1" />
  <module moduleId="Intent.AspNetCore.Controllers.Dispatch.ServiceContract" version="5.2.2-pre.0" />
  <module moduleId="Intent.AspNetCore.HealthChecks" version="2.0.0-beta.2" />
  <module moduleId="Intent.AspNetCore.Swashbuckle" version="5.0.0-beta.1" />
  <module moduleId="Intent.AspNetCore.Swashbuckle.Security" version="4.0.5" />
  <module moduleId="Intent.AspNetCore.Versioning" version="1.0.4-beta.0" />
  <module moduleId="Intent.Common" version="3.5.0-beta.3" />
  <module moduleId="Intent.Common.CSharp" version="3.4.0-beta.11" />
  <module moduleId="Intent.Common.Types" version="3.3.9" />
  <module moduleId="Intent.CosmosDB" version="1.0.0-beta.10" />
  <module moduleId="Intent.DocumentDB.Dtos.AutoMapper" version="1.0.0" />
  <module moduleId="Intent.DomainEvents" version="5.0.0-beta.1" />
  <module moduleId="Intent.Entities" version="5.0.0-beta.3" />
  <module moduleId="Intent.Entities.BasicAuditing" version="1.0.2-pre.0" />
  <module moduleId="Intent.Entities.Repositories.Api" version="4.1.4-pre.0" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="4.0.8-beta.0" />
  <module moduleId="Intent.MediatR.DomainEvents" version="5.0.0-beta.2" />
  <module moduleId="Intent.Metadata.DocumentDB" version="1.1.7" />
  <module moduleId="Intent.Metadata.RDBMS" version="3.5.10" />
  <module moduleId="Intent.Metadata.WebApi" version="4.4.0-beta.5" />
  <module moduleId="Intent.Modelers.Domain" version="3.5.0-beta.2" />
  <module moduleId="Intent.Modelers.Domain.Events" version="4.0.0-beta.1" />
  <module moduleId="Intent.Modelers.Services" version="3.5.0-beta.1" />
  <module moduleId="Intent.Modelers.Services.CQRS" version="4.1.0-beta.1" />
  <module moduleId="Intent.Modelers.Services.CRUD.ServiceDispatch" version="5.0.0-beta.0" />
  <module moduleId="Intent.Modelers.Services.DomainInteractions" version="1.0.0-beta.4" />
  <module moduleId="Intent.Modules.AspNetCore.Logging.Serilog" version="5.0.0-beta.1" />
  <module moduleId="Intent.Modules.AspNetCore.MultiTenancy" version="5.1.0-beta.3" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.4.0-pre.0" />
  <module moduleId="Intent.Security.JWT" version="4.1.7-beta.0" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.5.0-beta.4" />
</modules>