<?xml version="1.0" encoding="utf-8"?>
<modules>
  <module moduleId="Intent.Application.AutoMapper" version="5.1.3" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Application.Contracts" version="5.0.8" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Application.DependencyInjection" version="4.1.2" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Application.DependencyInjection.AutoMapper" version="4.0.2" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Application.Dtos" version="4.4.0" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Application.Dtos.AutoMapper" version="4.0.10" supportedClientVersions="[4.1.0-pre.0, 5.0.0-a)" />
  <module moduleId="Intent.Application.ServiceImplementations" version="4.5.7" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore" version="6.0.4" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Controllers" version="6.1.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Controllers.Dispatch.ServiceContract" version="5.2.8" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.AspNetCore.Swashbuckle" version="5.1.1" supportedClientVersions="[4.2.4, 5.0.0-a)" />
  <module moduleId="Intent.Common" version="3.7.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.CSharp" version="3.8.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Common.Types" version="4.0.0" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.DocumentDB.Dtos.AutoMapper" version="1.0.2" supportedClientVersions="[4.1.0,5.0.0)" />
  <module moduleId="Intent.Entities" version="5.1.4" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Entities.Repositories.Api" version="5.1.2" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Infrastructure.DependencyInjection" version="4.1.2" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Metadata.DocumentDB" version="1.2.0" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.Metadata.WebApi" version="4.6.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Domain" version="3.11.0" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.Modelers.Services" version="3.8.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.MongoDb" version="1.0.16" supportedClientVersions="[4.0.0-beta.10, 5.0.0-a)" />
  <module moduleId="Intent.MongoDb.Repositories" version="1.2.2" supportedClientVersions="[4.1.0, 5.0.0-a)" />
  <module moduleId="Intent.OutputManager.RoslynWeaver" version="4.8.0" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
  <module moduleId="Intent.VisualStudio.Projects" version="3.8.1" supportedClientVersions="[4.3.0-a, 5.0.0-a)" />
</modules>