<?xml version="1.0" encoding="utf-8"?>
<package id="736217e3-77e3-47c4-9997-26c6d996ecf6" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <name>DtoSettings.Class.Private.Services</name>
  <externalReference>51735c16-6ff9-4f56-bcfc-834d8fbd7b63</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="548defa8-0e52-498c-88d2-a9fabb352d0f" include="DtoSettings.Class.Private.Domain" isExternal="true">
      <path>../../Domain/DtoSettings.Class.Private.Domain/DtoSettings.Class.Private.Domain.pkg.config</path>
    </reference>
    <reference packageId="b258d75f-f895-43b9-bb91-6500664716f9" include="Intent.Application.Contracts" isExternal="true">
      <module>Intent.Application.Contracts</module>
    </reference>
    <reference packageId="2d61b3f1-47a2-4d3f-b8cf-308a4e3ed4d7" include="Intent.Application.ServiceImplementations" isExternal="true">
      <module>Intent.Application.ServiceImplementations</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>