<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="749d8a50-7a1f-46b2-97e0-460e257265d5" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${application.name}</name>
      <stereotypes />
      <childElements>
        <element id="2bfb79a1-b955-402d-9e62-3e2f76c1b655" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>0 - Solution Items</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="52897f11-e9e6-4b4b-a769-a0853e5bf7f2" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
              <name>dapr</name>
              <genericTypes />
              <metadata />
              <stereotypes />
              <childElements>
                <element id="a47ae6b9-d22d-4fb1-bf8b-7c4793acffcf" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Dapr</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Dapr</display>
                </element>
                <element id="77d88443-1226-49d0-a4d3-42ea01ba8a64" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
                  <name>components</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements>
                    <element id="224e47c9-c2e5-484e-b95c-e1e090478167" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                      <name>Dapr.Components</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Dapr.Components</display>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>components</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>dapr</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>0 - Solution Items</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>