<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>822e4254-9ced-4dd1-ad56-500b861f7e4d</targetDesignerId>
  <createPackages>
    <package id="b96cc3a8-36dc-48e4-a74c-9fced5012b0f" typeId="df96d537-7bb5-4c49-811f-973fa6e95beb" type="Eventing Package">
      <name>${application.name}.Eventing</name>
      <stereotypes />
      <childElements>
        <element id="627bab41-be2f-4891-a765-f396dd3552d7" typeId="f40a4942-5d2d-4174-8ec1-af66cbd464db" type="Application">
          <name>${application.name}</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>${application.name}</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>