@page "/fetchdata"
@using CleanArchitecture.TestApplication.BlazorClient.HttpClients
@using CleanArchitecture.TestApplication.BlazorClient.HttpClients.AccountService
@using CleanArchitecture.TestApplication.BlazorClient.HttpClients.Contracts.Services.AggregateRoots
@inject IAggregateRootsService AggregateRootsService
@inject IAccountService AccountService

<PageTitle>Fetch data demo</PageTitle>

<h1>Fetch data demo</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AggregateAttr</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in _entities)
            {
                <tr>
                    <td>@entity.Id</td>
                    <td>@entity.AggregateAttr</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AggregateRootDto>? _entities;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await AccountService.Register(new RegisterDto() { Email = "Joel@herecom", Password = "P@ssword123" });

        }catch (Exception e)
        {
            
        }
        await AccountService.Login(new LoginDto { Email = "Joel@herecom", Password = "P@ssword123" });
        _entities = await AggregateRootsService.GetAggregateRootsAsync();
    }
}
