<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</targetDesignerId>
  <createPackages>
    <package id="10795b5a-250c-402d-b9a4-3e7bf359d775" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906" type="Services Package">
      <name>${application.name}.Services</name>
      <stereotypes />
      <childElements>
        <element id="2aada1c6-c15a-4051-bab2-77d5e680493d" typeId="8c90aca5-86f4-47f1-bd58-116fe79f5c55" type="Diagram">
          <name>Default Diagram</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Default Diagram</display>
          <diagram>
            <targetPackageId>10795b5a-250c-402d-b9a4-3e7bf359d775</targetPackageId>
          </diagram>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>