<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>6ab29b31-27af-4f56-a67c-986d82097d63</targetDesignerId>
  <createPackages>
    <package id="d5285bf8-8186-436b-bf8d-b67b64d7c60e" typeId="1a824508-4623-45d9-accc-f572091ade5a" type="Domain Package">
      <name>${application.name}.Domain</name>
      <stereotypes />
      <childElements>
        <element id="a899c575-0c95-4d87-9683-bee962acdec8" typeId="4d66fecd-e9b8-436f-aa50-c59040ad0879" type="Diagram">
          <name>Default Diagram</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements />
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>Default Diagram</display>
          <diagram>
            <targetPackageId>d5285bf8-8186-436b-bf8d-b67b64d7c60e</targetPackageId>
          </diagram>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>