<?xml version="1.0" encoding="utf-8"?>
<settings>
  <targetDesignerId>0701433c-36c0-4569-b1f4-9204986b587d</targetDesignerId>
  <createPackages>
    <package id="535c6cb4-5989-4f6a-9220-665334464fcc" typeId="07e7b690-a59d-4b72-8440-4308a121d32c" type="Visual Studio Solution">
      <name>${application.name}</name>
      <stereotypes />
      <childElements>
        <element id="f2a117ac-89a8-44c5-b8c1-f5568d9438cb" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>1 - Api</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="a21e2cd0-0ade-43c7-afa6-e90ed5ca9204" typeId="FFD54A85-9362-48AC-B646-C93AB9AC63D2" type="ASP.NET Core Web Application">
              <name>${application.name}.Api</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="${target-framework}" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="2ccee3aa-9051-4c2b-9a45-53f9face84eb" typeId="3407a825-1331-4f3f-89a4-901903ed97ce" type="Folder">
                  <name>ClientApp</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes>
                    <stereotype stereotypeDefinitionId="61132551-825d-4c6e-b9f1-0f95249d08d4" name="Folder Options">
                      <addedByDefault>true</addedByDefault>
                      <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                      <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                      <properties>
                        <property name="4bfbefd0-d22e-4ca0-9723-92ae273feca4" display="Namespace Provider" value="true" isActive="true" />
                      </properties>
                    </stereotype>
                  </stereotypes>
                  <childElements>
                    <element id="bb02292f-c6c2-419a-bb82-5d42f7dee66a" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                      <name>Front End</name>
                      <genericTypes />
                      <metadata />
                      <stereotypes />
                      <childElements />
                      <isMapped>false</isMapped>
                      <isAbstract>false</isAbstract>
                      <display>Front End</display>
                    </element>
                  </childElements>
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>ClientApp</display>
                </element>
                <element id="a0d2c141-8412-46c1-8aa9-851f0c644d0f" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Distribution</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Distribution</display>
                </element>
                <element id="a1ebfadf-c1bc-4b37-8156-5cab47fd1e0a" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Startup</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Startup</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Api</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>1 - Api</display>
        </element>
        <element id="34a34022-de9b-41f1-8ddf-3b059ed0557a" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>2 - Application</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="08b3db47-8460-4832-a7df-4fc93a505b27" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
              <name>${application.name}.Application</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="${target-framework}" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="7daf3301-2e60-475c-b3e0-676549d1c6bf" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Application</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Application</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Application</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>2 - Application</display>
        </element>
        <element id="a84ef5e8-2d37-4ba8-a1a2-e412a3404665" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>3 - Domain</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="c2fd7236-c566-4783-ba16-ad284452fa35" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
              <name>${application.name}.Domain</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="${target-framework}" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="16c39b94-0e07-4e95-987f-b3e92ae11594" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Domain</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Domain</display>
                </element>
                <element id="3a437489-6d50-466b-8f34-8eaeb073c6ee" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Repository.Interface</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Repository.Interface</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Domain</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>3 - Domain</display>
        </element>
        <element id="7b15410d-dfdf-4692-a562-7c173e4c8373" typeId="0dc2b846-c968-49eb-99b7-8776919313a8" type="Solution Folder">
          <name>4 - Infrastructure</name>
          <genericTypes />
          <metadata />
          <stereotypes />
          <childElements>
            <element id="e202e73f-eac7-4769-9a19-c3023c093854" typeId="52B49DB5-3EA9-4095-B1A7-DF1AC22D7DAE" type="Class Library (.NET Core)">
              <name>${application.name}.Infrastructure</name>
              <genericTypes />
              <metadata />
              <stereotypes>
                <stereotype stereotypeDefinitionId="5d85edfb-490c-42c2-81ef-c57c0300eb5a" name=".NET Core Settings">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="4756bd10-23e2-473b-9957-d7083759cd42" display="Target Multiple Frameworks" value="false" isActive="true" />
                    <property name="ef3e7b17-ba1d-4818-82a2-5a8ad3875d40" display="Target Framework" value="${target-framework}" isActive="true" />
                    <property name="5215b600-32fc-4a6d-af72-9eb88a6f30e7" display="Target Frameworks" value="" isActive="false" />
                    <property name="7bfda3d8-b249-488e-b7d4-315d5f2b25f4" display="Runtime Identifiers" isActive="true" />
                    <property name="bb694bf2-6758-492d-ae65-5a8626704786" display="Configurations" isActive="true" />
                    <property name="3710062e-9beb-40e2-8f33-111efecf43a5" display="Root Namespace" isActive="true" />
                    <property name="f2956d24-b6da-427b-8728-c4f44714ce69" display="User Secrets Id" isActive="true" />
                    <property name="42cdb74e-d5fd-4969-94ca-585d0527b862" display="Generate Runtime Configuration Files" isActive="true" />
                    <property name="6111c054-9a40-4f92-9f7c-3a8372af14b8" display="Generate Documentation File" isActive="true" />
                  </properties>
                </stereotype>
                <stereotype stereotypeDefinitionId="d9b43864-0370-401b-9e71-b1d286919500" name="C# Project Options">
                  <addedByDefault>true</addedByDefault>
                  <definitionPackageName>Intent.VisualStudio.Projects</definitionPackageName>
                  <definitionPackageId>a0636ab7-d3a1-430b-9609-11a18aa3cc7f</definitionPackageId>
                  <properties>
                    <property name="cb56677d-e132-4397-b2ec-3f47e950a111" display="Language Version" value="default" isActive="true" />
                    <property name="5c953a82-78c4-4986-b204-df9fcbea5242" display="Relative Location" isActive="true" />
                    <property name="415a5406-0517-4c0e-ab60-bc809a23c308" display="Nullable Enabled" value="false" isActive="true" />
                  </properties>
                </stereotype>
              </stereotypes>
              <childElements>
                <element id="73158ae5-7d6a-4fee-a61a-c1db635acfb1" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Infrastructure</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Infrastructure</display>
                </element>
                <element id="a9ee46ee-50a1-4476-b6d4-02e84442adb1" typeId="025e933b-b602-4b6d-95ab-0ec36ae940da" type="Role">
                  <name>Repository.Implementation</name>
                  <genericTypes />
                  <metadata />
                  <stereotypes />
                  <childElements />
                  <isMapped>false</isMapped>
                  <isAbstract>false</isAbstract>
                  <display>Repository.Implementation</display>
                </element>
              </childElements>
              <isMapped>false</isMapped>
              <isAbstract>false</isAbstract>
              <display>${application.name}.Infrastructure</display>
            </element>
          </childElements>
          <isMapped>false</isMapped>
          <isAbstract>false</isAbstract>
          <display>4 - Infrastructure</display>
        </element>
      </childElements>
      <associations />
      <references />
    </package>
  </createPackages>
</settings>