<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.IdentityServer4.X509CertSigning</packageId>
  <templates>
    <template id="Intent.IdentityServer4.X509CertSigning.CertificateRepo">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators>
    <decorator id="IdentityServer4.X509CertSigning.X509CertSigningStartupDecorator">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
    <decorator id="IdentityServer4.X509CertSigning.AppSettingsDecorator">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
  </decorators>
  <factoryExtensions />
</packageConfigOverride>