<?xml version="1.0" encoding="utf-8"?>
<package id="bb084a21-5d1e-4ea8-8195-8bbc32fb910d" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <applicationId>5a489c24-afd9-43d1-bb80-25be7266b05c</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>AzureFunctions.MongoDb.Services</name>
  <externalReference>ea9f70ad-29d1-4aa1-aa04-d408499c9000</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="cbab5c34-04e8-42fa-8344-5b75b70d1f3b" include="AzureFunctions.MongoDb.Domain" isExternal="true">
      <path>../../Domain/AzureFunctions.MongoDb.Domain/AzureFunctions.MongoDb.Domain.pkg.config</path>
    </reference>
    <reference packageId="b258d75f-f895-43b9-bb91-6500664716f9" include="Intent.Application.Contracts" isExternal="true">
      <module>Intent.Application.Contracts</module>
    </reference>
    <reference packageId="0e923f47-102b-4bd6-80c5-eb38e6d5cf82" include="Intent.Application.DomainInteractions" isExternal="true">
      <module>Intent.Application.DomainInteractions</module>
    </reference>
    <reference packageId="55856e5d-8217-4c17-8fbb-082ac75baaf5" include="Intent.Application.FluentValidation" isExternal="true">
      <module>Intent.Application.FluentValidation</module>
    </reference>
    <reference packageId="e92495db-1b26-4389-bf06-cc1b375520b1" include="Intent.Application.MediatR" isExternal="true">
      <module>Intent.Application.MediatR</module>
    </reference>
    <reference packageId="4c21efb8-ec70-4d57-8ea4-d6e9f7e6b9f6" include="Intent.Application.MediatR.CRUD" isExternal="true">
      <module>Intent.Application.MediatR.CRUD</module>
    </reference>
    <reference packageId="19ac3196-c353-44e0-ba44-2e1930175b1f" include="Intent.Application.MediatR.FluentValidation" isExternal="true">
      <module>Intent.Application.MediatR.FluentValidation</module>
    </reference>
    <reference packageId="2d61b3f1-47a2-4d3f-b8cf-308a4e3ed4d7" include="Intent.Application.ServiceImplementations" isExternal="true">
      <module>Intent.Application.ServiceImplementations</module>
    </reference>
    <reference packageId="022dbddc-276c-406b-81e6-5034ad64db72" include="Intent.AzureFunctions" isExternal="true">
      <module>Intent.AzureFunctions</module>
    </reference>
    <reference packageId="c3808b69-f250-4ea9-b9c6-5636d3d52860" include="Intent.AzureFunctions.OpenApi" isExternal="true">
      <module>Intent.AzureFunctions.OpenApi</module>
    </reference>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="371be07c-ba65-4c08-aff6-8c1a9aa1ba4f" include="Intent.Common.UnitOfWork" isExternal="true">
      <module>Intent.Common.UnitOfWork</module>
    </reference>
    <reference packageId="a6fa1088-0064-43e3-a7fc-36c97b2b9285" include="Intent.Metadata.Security" isExternal="true">
      <module>Intent.Metadata.Security</module>
    </reference>
    <reference packageId="0011387a-b122-45d7-9cdb-8e21b315ab9f" include="Intent.Metadata.WebApi" isExternal="true">
      <module>Intent.Metadata.WebApi</module>
    </reference>
    <reference packageId="45fb22e9-f493-4de5-9fe0-845f783aa9d4" include="Intent.Modelers.Services.CQRS" isExternal="true">
      <module>Intent.Modelers.Services.CQRS</module>
    </reference>
    <reference packageId="bff48d8d-9246-4ad7-9dda-9703b7139b86" include="Intent.Modelers.Services.DomainInteractions" isExternal="true">
      <module>Intent.Modelers.Services.DomainInteractions</module>
    </reference>
    <reference packageId="7ed452ae-334c-48f7-b0aa-0426fc21e243" include="Intent.Modelers.Services.Pagination" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>