<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.AspNetCore.Controllers.Interop.MediatR</packageId>
  <templates />
  <decorators>
    <decorator id="Intent.AspNetCore.Controllers.Interop.MediatR.MediatRControllerDecorator">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
  </decorators>
  <factoryExtensions />
</packageConfigOverride>