<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.AspNetCore.Controllers</packageId>
  <templates>
    <template id="Intent.AspNetCore.Controllers.Controller">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
    <template id="Intent.AspNetCore.Controllers.JsonResponse">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators>
    <decorator id="Intent.AspNetCore.Controllers.DefaultControllerEndpointStartupDecorator">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
    <decorator id="Intent.AspNetCore.Controllers.DefaultControllerServicesStartupDecorator">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
    <decorator id="Intent.AspNetCore.Controllers.RolesAuthorizationDecorator">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </decorator>
  </decorators>
  <factoryExtensions />
</packageConfigOverride>