<?xml version="1.0" encoding="utf-8"?>
<packageConfigOverride>
  <packageId>Intent.AspNetCore.Interop.EntityFrameworkCore</packageId>
  <templates>
    <template id="Intent.AspNetCore.Interop.EntityFrameworkCore.DbInitializationExtensions">
      <overrides>
        <add key="IsEnabled" value="False" />
      </overrides>
    </template>
  </templates>
  <decorators />
  <factoryExtensions />
</packageConfigOverride>