<?xml version="1.0" encoding="utf-8"?>
<package id="7e77e850-1821-4ca6-bee4-c54123fc9a69" type="Domain Package" typeId="1a824508-4623-45d9-accc-f572091ade5a">
  <name>MassTransitFinbuckle.Test.Domain</name>
  <externalReference>b78c441a-6dab-482c-bc53-0870f8f80477</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="dcc00891-d339-4864-a22c-24b3ae9fbc67" include="Intent.Entities" isExternal="true">
      <module>Intent.Entities</module>
    </reference>
    <reference packageId="a059d995-a36f-4647-9c98-18ce340297eb" include="Intent.Entities.Repositories.Api" isExternal="true">
      <module>Intent.Entities.Repositories.Api</module>
    </reference>
    <reference packageId="a9d2a398-04e4-4300-9fbb-768568c65f9e" include="Intent.EntityFrameworkCore" isExternal="true">
      <module>Intent.EntityFrameworkCore</module>
    </reference>
    <reference packageId="5869084c-2a08-4e40-a5c9-ff26220470c8" include="Intent.EntityFrameworkCore.Repositories" isExternal="true">
      <module>Intent.EntityFrameworkCore.Repositories</module>
    </reference>
    <reference packageId="1c7eab18-9482-4b4e-b61b-1fbd2d2427b6" include="Intent.Metadata.DocumentDB" isExternal="true">
      <module>Intent.Metadata.DocumentDB</module>
    </reference>
    <reference packageId="AF8F3810-745C-42A2-93C8-798860DC45B1" include="Intent.Metadata.RDBMS" isExternal="true">
      <module>Intent.Metadata.RDBMS</module>
    </reference>
    <reference packageId="6572b98d-5e13-4d4b-9ffc-820057da974e" include="Intent.Modelers.Domain" isExternal="true">
      <module>Intent.Modelers.Domain</module>
    </reference>
    <reference packageId="31710880-215c-4fed-9c79-a129a4b9cdb1" include="Intent.Modelers.Domain.Events" isExternal="true">
      <module>Intent.Modelers.Domain.Events</module>
    </reference>
    <reference packageId="9d4225f4-5ab3-49e8-9fe1-073ad8df3453" include="Intent.Modules.AspNetCore.MultiTenancy" isExternal="true">
      <module>Intent.Modules.AspNetCore.MultiTenancy</module>
    </reference>
    <reference packageId="e3eb7873-c66f-4636-a7c8-8cb1f7b34d71" include="Intent.Modules.Modelers.Domain.StoredProcedures" isExternal="true">
      <module>Intent.Modules.Modelers.Domain.StoredProcedures</module>
    </reference>
  </references>
  <stereotypes />
  <metadata />
</package>